// Styleguide colors
//––––––––––––––––––––––––––––––––––––––––––––––––––

$white: #FFFFFF;
$black: #000000;

$primary-blue: #0F65C8;
$dark-blue: #034EA2;
$sky-blue: #D1EAFB;
$slate: #232D35;

$red: #E31C3D;
$pink: #F9DEDE;
$green: #E5FCDE;
$dark-green: #21965B;

$lighter-grey: #E7E2E2;
$light-grey: #F0F3F5;
$mid-grey: #D1D1D1;
$dark-grey: #7B8186;

$yellow: #FFC037;

$orange: #D74100;

// Element colors
//––––––––––––––––––––––––––––––––––––––––––––––––––

$base-font-color: $black;
$body-bg-color: $white;

$beta-badge-color: $orange;

$button-color: $primary-blue;
$button-hover-color: $dark-blue;
$button-font-color: $white;

$outline-hover-color: $dark-blue;
$outline-focus-color: $yellow;

// $list-item-hover-color: $light-grey;
