// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

$base-font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$base-font-size: 16px;
$base-font-weight: normal;
$base-line-height: 26px;

$au-gov-font-family: 'Times New Roman', Times, serif;
$au-gov-font-weight: bold;

h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 0;
}

h2 {
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
}
