.footer {
  padding-top: em(10);
  padding-bottom: em(10);
  width: 100%;
  min-height: em(50);
  background-color: $slate;
}

.footer-link-group {
  @include span-columns(10);
  font-size: 0.8rem;
  padding-top: em(20);

  @include media($tablet) {
    @include span-columns(7);
  }
}

.footer-link {
  a {
    color: $white;
    white-space: nowrap;
    margin-right: em(20);

    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }
}

.footer-image {
  @include span-columns(2);
  @include omega();
  text-align: right;

  @include media($tablet) {
    @include span-columns(1);
    @include omega();
  }
}

@include media($mobile) {
  .footer-link-group,
  .footer-image {
    @include span-columns(1);
    padding-top: 0;
  }

  .footer-image {
    text-align: left;
  }

  .footer-link {
    margin-top: em(20);
    margin-bottom: em(20);
    display: block;
  }
}
