.Footer-section {
    position: absolute;
    bottom: 0;
}

.Feedback {
    position: relative;
    bottom: 0;
    margin-bottom: 1rem;
}

.Feedback-survey {
    position: absolute;
    bottom: 0;
}

.Feedback-survey--callout {
    display: inline-block;
}

.footer {
  background-color: $govau-slate;
  padding: 2rem 0;
  color: #FFFFFF;

  img {
    height: 7rem;
    vertical-align: middle;
  }

  a.footerlink {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2rem;
  }

  a:hover,
  a:focus,
  a:active{
    color: #E5E5E5;
    text-decoration: underline;
  }

  div.footerlink {
    display: inline;
    padding: 10px;
    white-space: nowrap;
  }

  div.footerlinks {
    padding-left: 12rem;
    position: absolute;
    bottom: 0.5rem;
    right: 0;
  }

  .desktop {
      display: inherit;
    }

  .mobile {
    display: none;
  }

  @media (max-width: 550px) {
     div.footerlink {
      display: block;
    }

    div.footerlinks {
        padding-left: 0;
        position: static;
    }

    .desktop {
      display: none;
    }

    .mobile {
      display: inherit;
      margin-top: 1rem;
    }

    .Feedback-survey--callout {
      display: block;
    }
  }
}
