.header {
  padding-top: em(10);
  padding-bottom: em(10);
  width: 100%;
  background-color: $slate;
}

.logout-link {
  color: $white;
  white-space: nowrap;
  margin-top: em(15);

  float: right;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    color: $white;
  }
}
