.header {
  width: 100%;
  height: 90px;
  background-color: $slate;
}

.header,
.header .au-gov-coat-of-arms {
  height: 90px;
}

.header .au-gov-coat-of-arms {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logout-link {
  font-size: 14px;
  color: $white;
  white-space: nowrap;
  line-height: 90px;

  float: right;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    color: $white;
  }
}

@include media($mobile) {
  .header,
  .header .au-gov-coat-of-arms {
    height: 60px;
  }

  .logout-link {
    line-height: 60px;
  }
}
