.scroll-disabled {
  overflow: hidden;
}

.inline-icon {
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
  padding-right: 3px;
}

ul {
	list-style: disc outside;
  padding-left: 1rem;
  margin-bottom: 0px;
  margin-left: 2rem;

  li {
  	margin-bottom: 0.2rem;
  }
}

.error-div {
  margin-bottom: em(20);
  background-color: $pink;
  border: 1px $red solid;
  border-spacing: em(20) em(5);
  display: table;

  * {
    display: table-cell;
    vertical-align: middle;
  }

  .error-icon {
    width: em(40);
    height: em(40);
    padding: em(5) 0;
  }

  .error-message {
    height: em(40);
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hidden {
  display: none;
}

.hide {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.show {
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 1000px;
    overflow: hidden;
}
