* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
}

.MainContainer {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
}

.steps-info {
  padding: 2rem 0;
  font-size: 1.5em;
  font-weight: lighter;
}

h1 {
  font-weight: bold;
}

ul {
	list-style: disc inside;
    padding-left: 1rem;
    margin-bottom: 0px;
}

ul li {
	margin-bottom: 0.2rem;
}

.error-div{
  background-color: #F7D5D6;
  padding: 0.5rem;
  border: 1px #000000 solid;
  font-weight: bold;
  position: relative;
  padding-left: 30px;
}

.error-div:after {
  content: '\f071';
  font-family: fontAwesome;
  position: absolute;
  left: 1rem;
  top: 0.6rem;
}

@media (max-width: 550px) {
    .MainContainer {
        padding-bottom: 280px; /* height of your footer */
    }

    .container {
        width: 100%;
        padding: 0 1rem;
    }

    .main{
        padding: 0.5rem;
    }

    .icon-label {
        display: none;
    }
}
