* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
    color: $font-color;
    background-color: $body-bgcolor;
    // TODO: we should add this and change all the styles
    // font-size: $base-font-size;
}

.MainContainer {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 150px; /* height of your footer */
}

.steps-info {
  padding: 3rem 0 2rem;
  font-size: 1.5em;
  font-weight: lighter;
}

.steps-and-close-div {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.steps-info.inline {
  display: inline;
  margin: 0;
}

.logout-link {
  margin: 0;
  font-weight: lighter;
  float: right;
}

.scroll-disabled {
  overflow: hidden;
}

ul {
	list-style: disc outside;
  padding-left: 1rem;
  margin-bottom: 0px;
  margin-left: 2rem;
}

ul li {
	margin-bottom: 0.2rem;
}

.error-div{
  background-color: $error-bgcolor;
  padding: 0.5rem;
  border: 1px $error-color solid;
  font-weight: bold;
  position: relative;
  padding-left: 30px;
  background: $error-bgcolor url('/images/warning.svg') no-repeat;
  background-size: 1.5rem;
  background-position-x: 1rem;
  background-position-y: 1rem;
  margin-bottom: 2rem;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.small-left-padding {
    padding-left: 0.5rem;
}

@media (max-width: 410px) {
    .MainContainer {
        padding-bottom: 41rem; /* height of your footer */
    }
}

@media  (min-width: 410px) and (max-width: 550px) {
    .MainContainer {
        padding-bottom: 41rem; /* height of your footer */
    }

    .container {
        width: 100%;
        padding: 0 1rem;
    }

    .main{
        padding: 0.5rem;
    }

    .icon-label {
        display: none;
    }
}

@media (min-width: 550px){
  .container {
      padding: 0.5rem;
  }

  .MainContainer {
        padding-bottom: 16rem;
    }
}
