<tr class="CalRow month-{{ month }}" data-week="{{week}}">
  {{{ cells }}}
</tr>
<tr class="CalRow-slots" data-week="{{week}}">
  <td class="CalRow-slots" colspan="7">
    <ul class="CalRow-slots">
      Please wait
    </ul>
  </td>
</tr>
