<tr class="CalRow month-{{ month }}" data-week="{{week}}">
  {{{ cells }}}
</tr>
<tr class="CalRow-slots" data-week="{{week}}">
  <td  class="CalRow-slots" colspan="7">
    <ul class="CalRow-slots">
      <li>WOOOOOOO</li>
    </ul>
  </td>
</tr>
