<tr class="CalRow" id="row-{{ rowId }}">
  {{{ cells }}}
</tr>
<tr class="CalRow-slots" id="row-{{ rowId }}">
  <td  class="CalRow-slots" colspan="7">
    <ul class="CalRow-slots" id="row-{{ rowId }}">
    </ul>
  </td>
</tr>
