{{#months}}
    <div class="Calendar month-{{month}}" role="region" aria-label="Calendar with available dates and times. Please use Tab button to navigate it.">
        <!-- Calendar title and navigation -->
        <div class="Calendar-nav">
            {{#prevMonth}}
                <a href="#month/{{prevMonth}}" class="Calendar-nav--prev" name="month/{{prevMonth}}" name="month/{{prevMonth}}"  aria-label="Go to {{prevMonthName}} {{prevMonthYear}} availability"  tabindex="20">
                    <img src="/images/angle-left.svg" onerror="this.src='/images/png/angle-left-white.png';"  width="25" class="Calendar-nav--label" alt="" role="presentation"/>
                </a>
            {{/prevMonth}}
            <h2 class="Calendar-nav--month"><strong><span aria-label="Currently displaying month: {{monthName}} {{year}}">{{monthName}}</span></strong></h2>
            {{#nextMonth}}
                <a href="#month/{{nextMonth}}" class="Calendar-nav--next" name="month/{{nextMonth}}" aria-label="Go to {{nextMonthName}} {{nextMonthYear}} availability" tabindex="10">
                    <img src="/images/angle-right.svg" width="25" onerror="this.src='/images/png/angle-right-white.png';"  class="Calendar-nav--label" alt="" role="presentation"/>
                </a>
            {{/nextMonth}}
        </div>

        <!-- Calendar table -->

        <div class="Calendar-dates">
            <div class="week-row" aria-hidden="true" role="presentation">
              <!-- Desktop headers -->
                <div class="Calendar-header--dayLabel" role="presentation">Mon</div>
                <div class="Calendar-header--dayLabel" role="presentation">Tue</div>
                <div class="Calendar-header--dayLabel" role="presentation">Wed</div>
                <div class="Calendar-header--dayLabel" role="presentation">Thu</div>
                <div class="Calendar-header--dayLabel" role="presentation">Fri</div>
                <div class="Calendar-header--dayLabel" role="presentation">Sat</div>
                <div class="Calendar-header--dayLabel" role="presentation">Sun</div>
              <!-- Mobile headers  -->
                <div class="Calendar-header--dayLabel-mobile" role="presentation">M</div>
                <div class="Calendar-header--dayLabel-mobile" role="presentation">T</div>
                <div class="Calendar-header--dayLabel-mobile" role="presentation">W</div>
                <div class="Calendar-header--dayLabel-mobile" role="presentation">T</div>
                <div class="Calendar-header--dayLabel-mobile" role="presentation">F</div>
                <div class="Calendar-header--dayLabel-mobile" role="presentation">S</div>
                <div class="Calendar-header--dayLabel-mobile" role="presentation">S</div>
            </div>
            {{> month_template}}
        </div>
    </div>
{{/months}}
