{{#months}}
    <div class="Calendar month-{{month}}" role="region" aria-label="Calendar with available dates and times. Please use Tab button to navigate it.">
        <!-- Calendar title and navigation -->
        <div class="Calendar-nav">
            {{#prevMonth}}
                <a href="#month/{{prevMonth}}" class="Calendar-nav--prev" name="month/{{prevMonth}}" name="month/{{prevMonth}}"  aria-label="Go to {{prevMonthName}} availability">
                    <img src="/images/angle-left.svg" class="Calendar-nav--label" alt="Previous"  role="presentation"/>
                </a>
            {{/prevMonth}}
            <h2 class="Calendar-nav--month"><strong><span aria-label="Currently displaying month: {{monthName}}">{{monthName}}</span></strong></h2>
            {{#nextMonth}}
                <a href="#month/{{nextMonth}}" class="Calendar-nav--next" name="month/{{nextMonth}}" aria-label="Go to {{nextMonthName}} availability">
                    <img src="/images/angle-right.svg" class="Calendar-nav--label" alt="Next" role="presentation"/>
                </a>
            {{/nextMonth}}
        </div>

        <!-- Calendar table -->

        <table class="Calendar-dates" role="presentation">
            <tr aria-hidden="true">
                <td class="Calendar-header--dayLabel" data-state="M" scope="col" role="presentation">Mon</th>
                <td class="Calendar-header--dayLabel" data-state="T" scope="col" role="presentation">Tue</th>
                <td class="Calendar-header--dayLabel" data-state="W" scope="col" role="presentation">Wed</th>
                <td class="Calendar-header--dayLabel" data-state="T" scope="col" role="presentation">Thu</th>
                <td class="Calendar-header--dayLabel" data-state="F" scope="col" role="presentation">Fri</th>
                <td class="Calendar-header--dayLabel" data-state="S" scope="col" role="presentation">Sat</th>
                <td class="Calendar-header--dayLabel" data-state="S" scope="col" role="presentation">Sun</th>
            </tr>
            {{> month_template}}
        </table>
    </div>
{{/months}}
