<td class="{{ klass }}">
  <div class="BookingCalendar-content">
    <a class="BookingCalendar-dateLink"  {{ disabled }} data-date="{{ date }}" href="#date-{{ date }}">
      {{#today}}
        <span class="BookingCalendar-tag BookingCalendar-tag--today">TODAY</span>
      {{/today}}
      <p class="BookingCalendar-day">{{ day }}</p>
      <p class="BookingCalendar-available">{{ available }}</p>
    </a>
  </div>
</td>
