{{#available_times_count}}
<div class="DateCell Calendar-date--bookable {{^bookable}}Calendar-date--hide{{/bookable}}{{#bookable}}date-{{date}}{{/bookable}}">
    {{#bookable}}
    <div class="DateCell-content {{#today}}today{{/today}}">

    <a class="DateCell-content--datelink {{#today}}today{{/today}} date-{{date}} " 
    href="#date/{{ date }}" name="date/{{ date }}" tabindex="{{dateTabIndex}}" aria-label="{{ ariaDay }}, {{available_times_count}} available timeslots">
    	<p class="DateCell-content--day" aria-label="{{ ariaDay }}" role="presentation" >{{ day }}</p>
		<p class="DateCell-content--availableTimesCount" role="presentation" aria-label="{{available_times_count}} available timeslots">{{available_times_count}} available</p>
    </a>
  </div>
  {{/bookable}}
</div>
{{/available_times_count}}

{{^available_times_count}}
<div class="DateCell Calendar-date--unavailable {{^bookable}}Calendar-date--hide{{/bookable}} {{#bookable}}date-{{date}}{{/bookable}}">
  {{#bookable}}
  <div class="DateCell-content {{#today}}today{{/today}}" aria-hidden="true">

    <div class="DateCell-content--datelink {{#today}}today{{/today}} date-{{date}}" tabindex="-1" aria-label="{{ ariaDay }}, no timeslots available">
      <p class="DateCell-content--day" aria-label="{{ ariaDay }}" role="presentation" >{{ day }}</p>
    </div>
  </div>
  {{/bookable}}
</div>

{{/available_times_count}}