<td class="DateCell Calendar-date--bookable {{^available_times_count}}Calendar-date--unavailable{{/available_times_count}} {{^bookable}}Calendar-date--hide{{/bookable}} {{#bookable}}date-{{date}}{{/bookable}}">
  {{#bookable}}
  <div class="DateCell-content {{#today}}today{{/today}}"  {{^available_times_count}}aria-hidden="true"{{/available_times_count}}>

    <a class="DateCell-content--datelink {{#today}}today{{/today}} date-{{date}} " 
    href="#date/{{ date }}" name="date/{{ date }}"  
    {{^available_times_count}}tabindex="-1" aria-label="{{ ariaDay }}, no timeslots available"{{/available_times_count}}
    {{#available_times_count}}tabindex="{{dateTabIndex}}" aria-label="{{ ariaDay }}, {{available_times_count}} available timeslots"{{/available_times_count}}>
    	<p class="DateCell-content--day" aria-label="{{ ariaDay }}">{{ day }}</p>
	{{#available_times_count}}
		<p class="DateCell-content--availableTimesCount" aria-label="{{available_times_count}} available timeslots">{{available_times_count}} available</p>
	{{/available_times_count}}
    </a>
  </div>
  {{/bookable}}
</td>
