{{display_date}}, {{display_time}}  {{ampm}}
<form action="/book_appointment" method="post">
  <input type="hidden" name="selected_appointment" value="{{selected_appointment}}"/>
  <input type="submit" class="button" value="Confirm"/>
</form>
