<div class="selected-appointment-detail">
    <span class="visuallyhidden">You have selected: </span>
    <span>{{display_date}}, </span>
    <span>{{display_time}} {{ampm}}</span>
    <span class="visuallyhidden">{{year}}</span>
</div>

<input type="hidden" name="selected_appointment" value="{{selected_appointment}}"/>
<button type="submit" class="confirm-appointment-button button-with-icon" id="submitCalendar" aria-label="Press the button to book an appointment for {{display_date}}, {{display_time}} {{ampm}} {{year}}" tabindex="{{tabindex}}">
    <span>Confirm appointment</span><img src="/images/angle-right-white.svg" width="15" onerror="this.src='/images/angle-right-white.png';"  class="icon" alt ="" role="presentation"/>
</button>
<br/>
<a href="javascript:history.back()" tabindex="{{tabindex}}">Choose another appointment</a>
