<span class="SelectionConfirmation-label">{{display_date}}, {{display_time}}  {{ampm}}</span>
<input type="hidden" name="selected_appointment" value="{{selected_appointment}}"/>
<button type="submit" class="button SelectionConfirmation-button">
    Confirm&nbsp;<span class="fa fa-angle-right fa-lg"></span>
</button>
