<span class="SelectionConfirmation-label">{{display_date}}, </span>
<span class="SelectionConfirmation-label">{{display_time}} {{ampm}}</span>
<input type="hidden" name="selected_appointment" value="{{selected_appointment}}"/>
<button type="submit" class="button with-icon SelectionConfirmation-button" id="submitLogin">
    <span>Confirm</span><img src="images/angle-right-white.svg" class="button-icon" alt =""/>
</button>
