<h3>Select a time</h3>
{{^times}}
<div class="times-pleasewait">
  <span class="times-spinner">
    <img src="/images/spinner.gif" alt="Loading spinner" />
  </span>
  Please Wait
</div>
{{/times}}
<div class="AppointmentTimes-table" role="group">
    {{#times}}
    <div class="AppointmentTimes-list--item datetime-{{timeClass}}">
        <a class="AppointmentLink" href="#time/{{datetime}}" tabindex="{{tabindex}}" aria-label="select {{aria_display_time}}">
            <span class="AppointmentLink-time">{{display_time}}</span>
            <span class="AppointmentLink-ampm">{{ampm}}</span>
        </a>
    </div>
    {{/times}}
</div>
