{{^times}}
    Please Wait
{{/times}}
<div class="AppointmentTimes-table">
    {{#times}}
    <div class="AppointmentTimes-list--item datetime-{{timeClass}}">
        <a class="AppointmentLink" href="#time/{{datetime}}" name="time/{{datetime}}">
            <span class="AppointmentLink-time">{{display_time}}</span>
            <span class="AppointmentLink-ampm">{{ampm}}</span>
        </a>
    </div>
    {{/times}}
</div>
