{{^times}}
    Please Wait
{{/times}}
{{#times}}
  <a class="AppointmentLink datetime-{{datetime}}" href="#time/{{datetime}}" name="time/{{datetime}}">
    {{display_time}} {{ampm}}
  </a>
  <span>&nbsp&nbsp</span>
{{/times}}
