<tr class="Week">
  {{#days}}
    {{> day_template}}
  {{/days}}
</tr>
{{#days}}
<tr class="AvailableTimes date-{{date}}">
 <td class="AvailableTimesCell date-{{date}}" colspan="7">
    {{> times_template}}
 </td>
</tr>
<tr class="SelectionConfirmation date-{{date}}">
    <td class="SelectionConfirmationCell date-{{date}}" colspan="7">
    </td>
</tr>
{{/days}}
