<div class="warning-cookies">
	<div class="container">
		<span class="banner-text">This website uses cookies.</span>
		<a href="/cookies" target="blank">Find out more about cookies</a>.
	</div>
</div>
