<div class="u-full-width warning-banner warning-cookies">
	<div class="container">
	    <span class="warning-message">This website uses cookies. <a href="/cookies" target="blank">Find out more about cookies</a>.</span>
	</div>
</div>
