<div class="beta">
	<div class="container">
        <span class="beta-badge">BETA</span> This is a new service. If you need any help with using it, please call <span class="beta-tel-number">1300 729 080</span>.
        </span>
    </div>
</div>
