<header>
	{{> oldbrowser_warning}}
	<div class="header">
		<div class="container">
			<span class="au-gov-logo">
				<img class="au-gov-coat-of-arms" src="/images/gov-au-coat-of-arms-white.svg" onerror="this.src='/images/gov-au-coat-of-arms-white.png';" alt="Coat of Arms logo"/>
				<span>Australian Government</span>
			</span>
			{{#is_logged_in}}
			<span>
				<a href="/logout" class="header-button logout-link">Log out</a>
			</span>
			{{/is_logged_in}}
		</div>
	</div>
	{{> beta }}
</header>
