<div class="u-full-width warning-banner warning-oldbrowsers">
  <div class="container">
      <span class="warning-header">Your browser is out of date.</span>
      <span class="warning-message">This site is optimised for modern browsers and does not fully support the version of browser you are using. Please consider updating.</span>
  </div>
</div>
