<div class="warning-oldbrowsers" id="oldbrowser_banner">
	<div class="container">
      <span class="banner-heading">Your browser is out of date.</span>
      <span class="banner-text">This site is optimised for modern browsers and does not fully support the version of browser you are using. Please consider updating.</span>
    </div>
</div>
