.modal-bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	display: none;
}

.modal-bg--display {
	display: block;
	z-index: 1;
	background: rgba(0,0,0,0.2);
	pointer-events: none;
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
}

.modal-bg:target {
	opacity: 1;
	pointer-events: auto;
}

.modal-div {
	position: relative;
	height: 100vh;
	width: 100vw;
}

.modal-div-content {
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);

	padding: 1rem;
	text-align: center;
	background: $white;

	@include media($tablet) {
		width: 95vw;
	}
}

.add-to-wallet-modal-content {
	text-align: left;

	h1 {
		text-align: center;
	}
}

.add-to-wallet-barcode {
	text-align: center;
}

.close {
	float: right;

	img.icon {
		padding: em(10);
		width: em(40);
		height: em(40);
	}
}
