<tr>
  <td align="left">
    <div style="border-top:2px black solid;"></div>
    <table>
      <tbody>
        <tr>
          <td>
            <h2>Changes to your circumstances</h2>
          </td>
        </tr>
        <tr>
          <td>
            It is important that you tell us about any changes to your circumstances including changing your name, contact details, address or information about children included in your application. If you applied online, you can update your details through Immi-account. Alternatively, use <a href="https://www.border.gov.au/Forms/Documents/929.pdf" target="_blank" alt="">Form 929 Change of address and/or passport details</a> or contact the Citizenship Information Line.
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
