<tr>
  <td align="left">
    <div style="border-top:2px black solid;margin-top:16px;margin-bottom:16px;"></div>
    <table>
      <tbody>
        <tr>
          <td>
            <h2 style="margin-top:0px;margin-bottom:16px;">Citizenship test</h2>
          </td>
        </tr>
        <tr>
          <td>
            The citizenship test is computer-based and conducted in English and consists of 20 multiple choice questions.
            {{#isAssisted}}
            As this is an assisted test, the computer or test administrator will read out all the questions and the possible answers to you during the time you have to complete the test. The test administrator can operate the computer for you.
            {{/isAssisted}}
            {{^isAssisted}}
            You will have 45 minutes to complete the test.
            {{/isAssisted}}
            If you do not complete the test within the time allocated, a result will be given based on the questions completed.
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            You must not refer to study aids or electronic equipment such as cameras or smartphones during the test. You may speak to the test administrator but you cannot speak to other people during the test. If you do not follow these rules your test result will be invalid.          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            If you fail the test you can ask to take the test again. Where possible, you may be allowed to sit the test again on the same day if you have a score of more than 50%. Otherwise, you may make an appointment to sit the test at another time. If you have difficulty passing the test, we may discuss other options with you.
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <td align="left">
    <div style="border-top:2px black solid;margin-top:16px;margin-bottom:16px;"></div>
    <table>
      <tbody>
        <tr>
          <td>
            <h2 style="margin-top:0px;margin-bottom:16px;">Preparing for the citizenship test</h2>
          </td>
        </tr>
        <tr>
          <td>
            Prepare for the test by reading the resource book or viewing the DVD <a href="https://www.border.gov.au/Trav/Citi/Lear/Citizenship-test/Australian-citizenship-test-resource" target="_blank" alt="">Australian Citizenship: Our Common Bond</a>. The book is available in 37 languages and has all the information you need to help you pass the citizenship test.
         </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            You can download a translated version of the book, obtain a copy of the book or DVD and access a practice test and tutorial from <a href="https://www.border.gov.au/Trav/Citi/Lear/Citizenship-test/Australian-citizenship-test-resource" target="_blank">our website</a>.  If you are unable to access our website, you can obtain a copy of the resource book or DVD by telephoning the Citizenship Information Line on 131 880 Monday to Friday between 8.30am to 4.30pm.
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            <table>
              <tbody>
                <tr>
                  <td>
                    <a href="https://www.border.gov.au/Trav/Citi/Lear/Citizenship-test/Australian-citizenship-test-resource" style="white-space:nowrap;display:block;text-decoration:none" target="_blank">
                      <table style="font-weight:200;font-family:Helvetica,Arial,sans-serif" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                          <tr>
                            <td style="border-radius:2px;background-color:rgb(51,118,192);padding:6px 16px;font-size:16px;border-color:rgb(51,118,192);border-width:1px;border-style:solid" bgcolor="3376C0">
                              <a href="https://www.border.gov.au/Trav/Citi/Lear/Citizenship-test/Australian-citizenship-test-resource" style="color:rgb(255, 255, 255);white-space:nowrap;display:block;text-decoration:none" target="_blank">
                                <img src="{{playIcon}}" />&nbsp;Watch
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </a>
                  </td>
                  <td>
                    <a href="https://www.border.gov.au/Citizenship/Documents/our-common-bond-2014.pdf" style="white-space:nowrap;display:block;text-decoration:none" target="_blank">
                      <table style="font-weight:200;font-family:Helvetica,Arial,sans-serif" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                          <tr>
                            <td style="border-radius:2px;background-color:rgb(51,118,192);padding:6px 16px;font-size:16px;border-color:rgb(51,118,192);border-width:1px;border-style:solid" bgcolor="3376C0">
                              <a href="https://www.border.gov.au/Citizenship/Documents/our-common-bond-2014.pdf" style="color:rgb(255, 255, 255);white-space:nowrap;display:block;text-decoration:none" target="_blank">
                                <img src="{{pdfIcon}}" />&nbsp;Download (6.5MB PDF)
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </a>
                  </td>
                  <td>
                    <a href="https://www.border.gov.au/Trav/Citi/Lear/Citizenship-test/Australian-citizenship-test-resource/Australian-citizenship-practice-test" style="white-space:nowrap;display:block;text-decoration:none" target="_blank">
                      <table style="font-weight:200;font-family:Helvetica,Arial,sans-serif" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                          <tr>
                            <td style="border-radius:2px;background-color:rgb(51,118,192);padding:6px 16px;font-size:16px;border-color:rgb(51,118,192);border-width:1px;border-style:solid" bgcolor="3376C0">
                              <a href="https://www.border.gov.au/Trav/Citi/Lear/Citizenship-test/Australian-citizenship-test-resource/Australian-citizenship-practice-test" style="color:rgb(255, 255, 255);white-space:nowrap;display:block;text-decoration:none" target="_blank">
                                <img src="{{checkIcon}}" />&nbsp;Practice
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.border.gov.au/Trav/Citi/Lear/Citizenship-test/About-the-citizenship-test" target="_blank" alt="">More information about the citizenship test</a>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
