<tr>
  <td align="left">
    <div style="border-top:2px black solid;"></div>
    <table>
      <tbody>
        <tr>
          <td>
            <h2>Citizenship interview</h2>
          </td>
        </tr>
        <tr>
          <td>
            If you are 60 years or over and need an interpreter you can bring a family member or friend to assist you during the interview.
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            If you are 16 or 17 years of age we will assess your English language ability and your knowledge of the responsibilities and privileges of Australian Citizenship. You can choose to bring a responsible parent with you for support. This person will not be able to assist you during the interview.
         </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <td align="left">
    <div style="border-top:2px black solid;"></div>
    <table>
      <tbody>
        <tr>
          <td>
            <h2>Preparing for the citizenship interview</h2>
          </td>
        </tr>
        <tr>
          <td>
            Prepare for your interview by reading the resource book or viewing the DVD <a href="https://www.border.gov.au/Trav/Citi/Lear/Citizenship-test/Australian-citizenship-test-resource" target="_blank" alt="">Australian Citizenship: Our Common Bond</a>. The book is available in 37 languages and has all the information you need for your interview.
         </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            You can download a translated version of the book, or obtain a copy of the resource book or DVD from <a href="https://www.border.gov.au/Trav/Citi/Lear/Citizenship-test/Australian-citizenship-test-resource" target="_blank">our website</a>. If you are unable to access our website, you can obtain a copy of the resource book or DVD by telephoning the Citizenship Information Line on 131 880 Monday to Friday between 8:30 am and 4:30 pm. However you do not need to sit the citizenship test.
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            <table>
              <tbody>
                <tr>
                  <td>
                    <a href="https://www.border.gov.au/Trav/Citi/Lear/Citizenship-test/Australian-citizenship-test-resource" style="white-space:nowrap;display:block;text-decoration:none" target="_blank">
                      <table style="font-weight:200;font-family:Helvetica,Arial,sans-serif" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                          <tr>
                            <td style="border-radius:2px;background-color:rgb(51,118,192);padding:6px 16px;font-size:16px;border-color:rgb(51,118,192);border-width:1px;border-style:solid" bgcolor="3376C0">
                              <a href="https://www.border.gov.au/Trav/Citi/Lear/Citizenship-test/Australian-citizenship-test-resource" style="color:rgb(255, 255, 255);white-space:nowrap;display:block;text-decoration:none" target="_blank">
                                <img src="{{playIcon}}"></img>&nbsp;Watch
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </a>
                  </td>
                  <td>
                    <a href="https://www.border.gov.au/Citizenship/Documents/our-common-bond-2014.pdf" style="white-space:nowrap;display:block;text-decoration:none" target="_blank">
                      <table style="font-weight:200;font-family:Helvetica,Arial,sans-serif" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                          <tr>
                            <td style="border-radius:2px;background-color:rgb(51,118,192);padding:6px 16px;font-size:16px;border-color:rgb(51,118,192);border-width:1px;border-style:solid" bgcolor="3376C0">
                              <a href="https://www.border.gov.au/Citizenship/Documents/our-common-bond-2014.pdf" style="color:rgb(255, 255, 255);white-space:nowrap;display:block;text-decoration:none" target="_blank">
                                <img src="{{pdfIcon}}"></img>&nbsp;Download (6.5MB PDF)
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </a>
                  </td>
                  <td>
                    <a href="https://www.border.gov.au/Trav/Citi/Lear/Citizenship-test/Australian-citizenship-test-resource/Australian-citizenship-practice-test" style="white-space:nowrap;display:block;text-decoration:none" target="_blank">
                      <table style="font-weight:200;font-family:Helvetica,Arial,sans-serif" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                          <tr>
                            <td style="border-radius:2px;background-color:rgb(51,118,192);padding:6px 16px;font-size:16px;border-color:rgb(51,118,192);border-width:1px;border-style:solid" bgcolor="3376C0">
                              <a href="https://www.border.gov.au/Trav/Citi/Lear/Citizenship-test/Australian-citizenship-test-resource/Australian-citizenship-practice-test" style="color:rgb(255, 255, 255);white-space:nowrap;display:block;text-decoration:none" target="_blank">
                                <img src="{{checkIcon}}"></img>&nbsp;Practice
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
