  <td>
    <!--DO NOT REMOVE: #UnitName -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "EventReservation",
        "reservationNumber" : "#PersonalId",
        "reservationFor" : {
          "@type" : "Event",
          "name" : "{{appointmentType}}",
          "startDate" : "@FormatDate(#ReferenceDate, yyyy-MM-ddTHH:mm:sszzz)",
          "location" : {
            "@type" : "Place",
            "address" : {
              "@type" : "PostalAddress",
              "streetAddress" : "#UnitAddress",
              "addressCountry": "",
              "addressRegion": "",
              "addressLocality": "",
              "postalCode": ""
            },
            "name": "#UnitName Visa and Citizenship Office"
          },
          "image": "{{websiteLink}}images/gov-au-coat-of-arms.png"
        },
        "underName" : {
           "@type" : "Person",
           "name" : "#FirstName #LastName"
        },
        "reservationStatus": "http://schema.org/Confirmed",
        "modifyReservationUrl" : "{{websiteLink}}login?id=#PersonalId&utm_source={{campaignSource}}&utm_medium=email&utm_campaign={{campaignName}}&cd1=#PersonalId&cd2=#UnitId",
        "ticketToken": "{{websiteLink}}barcode/pdf417/#PersonalId",
        "ticketNumber": "#PersonalId",
        "modifiedTime": "@FormatDate(@Date(), yyyy-MM-dd)T@FormatDate(@Time(), HH:mm:sszzz)"
      }
    </script>

    <table width="100%" style="margin-bottom:10px">
      <tbody>
        <tr>
          <td align="left">
            <h1>{{headerText}}</h1>
          </td>
        </tr>
        <tr>
          <td align="left">
            <table width="100%" style="width:100%;min-width:400px;font-size:16px" cellspacing="7px">
              <tbody>
                <tr>
                  <td style="width: 100px">
                    Name:
                  </td>
                  <td>
                    <strong>#FirstName #LastName</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    Client ID:
                  </td>
                  <td>
                    <strong>#PersonalId</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    Date:
                  </td>
                  <td>
                    <strong>@FormatDate(#ReferenceDate, dddd dd MMMM yyyy)</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    Time:
                  </td>
                  <td>
                    <strong>@FormatDate(#ReferenceDate, hh:mm tt)</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    Location:
                  </td>
                  <td>
                     <strong><a href="https://www.google.com.au/maps?daddr=#UnitName Visa and Citizenship Office, #UnitAddress">#UnitAddress</a></strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    Appointment type:
                  </td>
                  <td>
                    <strong>{{appointmentType}}</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                     &nbsp;
                  </td>
                  <td>
                    <table>
                      <tbody>
                          <tr>
                            <td width="100px">
                              <a href="{{websiteLink}}login?id=#PersonalId&utm_source={{campaignSource}}&utm_medium=email&utm_campaign={{campaignName}}&cd1=#PersonalId&cd2=#UnitId" style="white-space:nowrap;display:block;text-decoration:none" target="_blank">
                                <table style="font-weight:200;font-family:Helvetica,Arial,sans-serif" border="0" cellpadding="0" cellspacing="0" width="100%">
                                  <tbody>
                                    <tr>
                                      <td style="border-radius:2px;background-color:rgb(51,118,192);padding:6px 16px;font-size:16px;border-color:rgb(51,118,192);border-width:1px;border-style:solid" bgcolor="3376C0">
                                        <a href="{{websiteLink}}login?id=#PersonalId&utm_source={{campaignSource}}&utm_medium=email&utm_campaign={{campaignName}}&cd1=#PersonalId&cd2=#UnitId" style="color:rgb(255, 255, 255);white-space:nowrap;display:block;text-decoration:none" target="_blank">
                                          Reschedule
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </a>
                            </td>
                            <td>
                            </td>
                          </tr>
                      </tbody>
                    </table>

                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
              <em>This is a new service, if you need any help with using it, please call 1300 729 080 between 9.30am and 4.30pm Monday to Friday.</em>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <td align="center" style="text-align: center">
     <div style="border-top:2px black solid;margin-bottom:16px;text-align: center"></div>
       <img src="{{websiteLink}}barcode/pdf417/#PersonalId" alt="Barcode to scan on your arrival" height="100px"/>
       <div style="width: 70%;margin:0 auto;text-align: center">
         <em>For faster check-in, scan this barcode at the reception kiosk upon your arrival</em>
       </div>
  </td>
 </tr>
 <tr>
   <td align="left">
      <div style="border-top:2px black solid;margin-top:16px;margin-bottom:16px;"></div>
        <h2 style="margin-top:0px;margin-bottom:16px;">Important notes about your citizenship appointment</h2>
        <ul style="margin-left:16px;margin-top:0px;margin-bottom:0px;list-style: disc outside;padding-left:0px;" margin="0px 0px 0px 16px">
          <li>It is very important that you attend this appointment as this is your opportunity to demonstrate that you meet the legal requirements for citizenship.</li>
          <li>Appointments run for approximately 2 hours.</li>
        </ul>
    </td>
