  <td>
    <table>
      <tbody>
        <tr>
          <td>
            <h1>Your appointment is confirmed</h1>
          </td>
        </tr>
        <tr>
          <td>
            <table>
              <tbody>
                <tr>
                  <td>
                    <table>
                      <tr>
                        <td style="width: 18px;">
                          <img src="{{locationIcon}}" alt="Location"/>
                        </td>
                        <td>
                          <!--DO NOT REMOVE: #UnitName -->
                          #UnitAddress  <a href="http://maps.google.com/maps?daddr=#UnitAddress ">Directions</a>
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 18px;">
                         <img src="{{calendarIcon}}" alt="Date"/>
                        </td>
                        <td>
                          @FormatDate(#ReferenceDate, dddd dd MMMM hh:mm tt)
                        </td>
                      </tr>
                      <tr>
                        <td>
                         &nbsp;
                        </td>
                        <td>
                          <a href="{{websiteLink}}login?id=#CustomerExtRef">Reschedule</a>
                          <a href="#">Add to my calendar</a>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width="130px">
                    <a href="http://maps.google.com/maps?daddr=#UnitAddress " alt="Go to Google Maps to see directions" target="_blank">
                      <img src="http://maps.googleapis.com/maps/api/staticmap?center=#UnitAddress &size=190x120&maptype=roadmap&zoom=13&markers=color:redC%7C#UnitAddress "/>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <td>
    <div style="border-top:2px black solid;"></div>
    <h2>Prepare for your appointment</h2>
    <ul style="list-style: disc inside; padding-left: 1rem;">
      <li>Collect all originals of the <a href="https://www.border.gov.au/Trav/Citi/Appl/What-documents-do-you-need" target="_blank">required documents</a></li>
      <li>Translate non-english documents</li>
      <li>Study for the <a href="https://www.border.gov.au/Trav/Citi/Lear/Citizenship-test" target="_blank">citizenship test</a></li>
    </ul> 
  </td>
</tr>
<tr>
  <td>
    <div style="border-top:2px black solid;"></div>
    <table>
      <tr>
        <td>
          <h2>When you arrive</h2>
           <ul style="list-style: disc inside; padding-left: 1rem;">
            <li>Please allow enough <a href="http://maps.google.com/maps?daddr=#UnitAddress " target="_blank">travel time</a> to arrive at least 5 minutes prior to your appointment</li>
            <li>The appointment will take place at #UnitAddress . If you need special assistance, please <a href="https://www.border.gov.au/about/contact/make-enquiry" target="_blank">let us know</a></li>
            <li>Collect a ticket at the Citizenship kiosk by entering your Client ID or scanning the barcode</li>
            <li>Wait until your number is called at the assigned counter</li> 
          </ul>
        </td>
        <td>
          <div style="border: 1px solid black"> 
            [PersonalId]#PersonalId[/PersonalId]
          </div>
          <br />
          <em>For faster check-in, scan this barcode at the reception on your arrival</em>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td>
    <div style="border-top:2px black solid;"></div>
    <h2>Prepare for your appointment</h2>
    <ul style="list-style: disc inside; padding-left: 1rem;">
      <li>Collect all originals of the <a href="https://www.border.gov.au/Trav/Citi/Appl/What-documents-do-you-need" target="_blank">required documents</a></li>
      <li>Translate non-english documents</li>
      <li>Study for the <a href="https://www.border.gov.au/Trav/Citi/Lear/Citizenship-test" target="_blank">citizenship test</a></li>
    </ul> 
  </td>
</tr>
<tr>
  <td>
    <div style="border-top:2px black solid;"></div>
    <table>
      <tr>
        <td>
          <h2>When you arrive</h2>
           <ul style="list-style: disc inside; padding-left: 1rem;">
            <li>Please allow enough <a href="http://maps.google.com/maps?daddr=#UnitAddress " target="_blank">travel time</a> to arrive at least 5 minutes prior to your appointment</li>
            <li>The appointment will take place at #UnitAddress . If you need special assistance, please <a href="https://www.border.gov.au/about/contact/make-enquiry" target="_blank">let us know</a></li>
            <li>Collect a ticket at the Citizenship kiosk by entering your Client ID or scanning the barcode</li>
            <li>Wait until your number is called at the assigned counter</li> 
          </ul>
        </td>
        <td>
          <div style="border: 1px solid black"> 
            [PersonalId]#PersonalId[/PersonalId]
          </div>
          <br />
          <em>For faster check-in, scan this barcode at the reception on your arrival</em>
        </td>
      </tr>
    </table>
  </td>