  <td>
    <table width="100%">
      <tbody>
        <tr>
          <td align="left">
            <h1>Your citizenship appointment has been scheduled</h1>
          </td>
        </tr>
        <tr>
          <td align="left">
            <table>
              <tbody>
                <tr>
                  <td style="width: 75px">
                    Name:
                  </td>
                  <td>
                    <strong>#FirstName #LastName</strong>
                  </td>
                  <td rowspan="4" align="top" width="160px" style="vertical-align:top">
                    <img src="{{websiteLink}}barcode/pdf417/#PersonalId" alt="Barcode to scan on your arrival"/>
                    <em><span style="font-size: xx-small">For faster check-in, scan this barcode at the reception kiosk upon your arrival</span></em>
                  </td>
                </tr>
                <tr>
                  <td>
                    Client ID:
                  </td>
                  <td>
                    <strong>#PersonalId</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    Date:
                  </td>
                  <td>
                    <strong>@FormatDate(#ReferenceDate, dddd dd MMMM yyyy)</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    Time:
                  </td>
                  <td>
                    <strong>@FormatDate(#ReferenceDate, hh:mm tt)</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    Location:
                  </td>
                  <td colspan="2">
                    <!--DO NOT REMOVE: #UnitName -->
                     <strong>#UnitAddress</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    Appointment type:
                  </td>
                  <td colspan="2">
                    <strong>{{appointmentType}}</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                     &nbsp;
                  </td>
                  <td colspan="2">
                    <a href="https://www.google.com.au/maps?daddr=#UnitAddress ">Directions</a>
                    <a href="{{websiteLink}}login?id=#PersonalId&utm_source={{campaignSource}}&utm_medium=email&utm_campaign={{campaignName}}&cd1=#PersonalId&cd2=#UnitId">Reschedule</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
 <td align="left">
    <div style="border-top:2px black solid;"></div>
      <h2>Important notes about your citizenship appointment</h2>
      <ul style="padding:0px; margin-top:1rem; marging-bottom:1rem;list-style: disc inside;" padding="0">
        <li>It is very important that you attend this appointment as this is your opportunity to demonstrate that you meet the legal requirements for citizenship.</li>
        <li>Appointments run for approximately 2 hours.</li>
      </ul>
  </td>
