<tr>
  <td align="left">
    <div style="border-top:2px black solid;"></div>
    <table>
      <tbody>
        <tr>
          <td>
            <h2>Contact us</h2>
          </td>
        </tr>
        <tr>
          <td>
            If you wish to contact us, please do not reply to this message as it is not monitored but instead contact:
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            <strong>General enquires</strong><br/>
            Citizenship Information Line. Call 131 880 between Monday to Friday 8.30am - 4.30pm.
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        {{^hideBookingInfo}}
        <tr>
          <td>
            <strong>Appointment bookings</strong><br/>
            Appointment Service Line. Call 1300 729 080 between Monday to Friday 9.30am - 4.30pm.
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        {{/hideBookingInfo}}
        <tr>
          <td>
            <strong>Compliments and complaints</strong><br/>
            Global Feedback Unit. Call 133 177 between Monday to Friday: 8.30am - 4.30pm
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <td align="left">
    Yours sincerely
  </td>
</tr>
<tr>
  <td align="left">
    Assistant Secretary <br/>
    Permanent Visa and Citizenship Programme <br/>
    Position number 3355 <br/>
    Department of Immigration and Border Protection
  </td>
</tr>
