 <td>
    <table>
      <tbody>
        <tr>
          <td>
            <h1>{{headerText}}</h1>
          </td>
        </tr>
        <tr>
          <td>
            <table>
              <tbody>
                <tr>
                  <td>
                    <table>
                      <tr>
                        <td style="width: 18px;">
                          Location:
                        </td>
                        <td>
                          <!--DO NOT REMOVE: #UnitName -->
                          #UnitAddress  <a href="https://www.google.com.au/maps?daddr=#UnitAddress ">Directions</a>
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 18px;">
                         Client ID:
                        </td>
                        <td>
                          #CustomerExtRef
                        </td>
                      </tr>
                      <tr>
                        <td>
                         &nbsp;
                        </td>
                        <td>
                          <a href="{{websiteLink}}login?id=#CustomerExtRef" style="white-space:nowrap;display:block;text-decoration:none" target="_blank">
                            <table style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="90px" border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td style="border-radius:2px;background-color:#008cc9;padding:6px 16px;font-size:16px;border-color:#008cc9;border-width:1px;border-style:solid" bgcolor="#008CC9">
                                    <a href="{{websiteLink}}login?id=#CustomerExtRef" style="color:#ffffff;white-space:nowrap;display:block;text-decoration:none" target="_blank">
                                      Book Now <img src="{{angleIcon}}" alt="" />
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width="130px">
                    <a href="https://www.google.com.au/maps?daddr=#UnitAddress " alt="Go to Google Maps to see directions" target="_blank">
                      <img src="https://maps.googleapis.com/maps/api/staticmap?center=#UnitAddress &size=190x120&maptype=roadmap&zoom=13&markers=color:redC%7C#UnitAddress "/>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
    <td>
      <em>This is a new service. If you need any help using it, please call us on 1300 729 080 between 8.30am and 4.30pm Monday to Friday.</em>
    </td>
</tr>
<tr>
 <td>
    <div style="border-top:2px black solid;"></div>
      <h2>Important notes about attending your citizenship appointment</h2>
      <ul style="list-style: disc inside; padding-left: 1rem;">
        <li>Please select the soonest available appointment that suits you.</li>
        <li>You are required to schedule an appointment within 2 weeks of receiving this information.</li>
        <li>Please allow up to 2 hours for your appointment.</li>
        <li>If you do not attend 3 appointments in total, a decision may be made on your application.</li>
      </ul>
  </td>
