  <td align="left">
    <h1>Final notice to book and attend citizenship appointment</h1>
  </td>
</tr>
<tr>
  <td align="left">
    I am writing in reference to your application for Australian citizenship. We have previously invited you to attend a citizenship appointment. Our records show that you have failed to attend two citizenship test appointments.
  </td>
</tr>
<tr>
  <td align="left">
    You must book and attend an appointment within 35 days of the date of this letter.
  </td>
</tr>
<tr>
  <td align="left">
    <table style="font-size:16px">
      <tbody>
        <tr>
          <td>
            <table>
              <tbody>
                <tr>
                  <td>
                    <table>
                      <tr>
                        <td style="width: 100px;">
                          Location:
                        </td>
                        <td>
                          <!--DO NOT REMOVE: #UnitName -->
                          #UnitAddress  <a href="https://www.google.com.au/maps?daddr=#ParentUnitName Visa and Citizenship Office, #UnitAddress ">Directions</a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                         Client ID:
                        </td>
                        <td>
                          #CustomerExtRef
                        </td>
                      </tr>
                      <tr>
                        <td>
                         &nbsp;
                        </td>
                        <td>
                          <a href="{{websiteLink}}login?id=#PersonalId&utm_source={{campaignSource}}&utm_medium=email&utm_campaign={{campaignName}}&cd1=#PersonalId&cd2=#UnitId" style="white-space:nowrap;display:block;text-decoration:none" target="_blank">
                            <table style="font-weight:200;font-family:Helvetica,Arial,sans-serif" width="90px" border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td style="border-radius:2px;background-color:rgb(0,140,201);padding:6px 16px;font-size:16px;border-color:rgb(0,140,201);border-width:1px;border-style:solid" bgcolor="008CC9">
                                    <a href="{{websiteLink}}login?id=#PersonalId&utm_source={{campaignSource}}&utm_medium=email&utm_campaign={{campaignName}}&cd1=#PersonalId&cd2=#UnitId" style="color:rgb(255,255,255);white-space:nowrap;display:block;text-decoration:none" target="_blank">
                                      Book Now <img src="{{angleIcon}}" alt="" />
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width="130px">
                    <a href="https://www.google.com.au/maps?daddr=#UnitAddress " alt="Go to Google Maps to see directions" target="_blank">
                      <img src="https://maps.googleapis.com/maps/api/staticmap?center=#UnitAddress &size=190x120&maptype=roadmap&zoom=13&markers=color:redC%7C#UnitAddress "/>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
    <td align="left">
      <em>This is a new service. If you need any help using it, please call us on 1300 729 080 between 8.30am and 4.30pm Monday to Friday.</em>
    </td>
</tr>
<tr>
 <td align="left">
    <div style="border-top:2px black solid;margin-top:16px;margin-bottom:16px;"></div>
      <h2 style="margin-top:0px;margin-bottom:16px;">Important notes about attending your citizenship appointment</h2>
      <ul style="margin-left:16px;margin-top:0px;margin-bottom:0px;list-style: disc outside;padding-left:0px;" margin="0px 0px 0px 16px">
        <li>If you do not book and attend an appointment within this timeframe, your application will be decided on the basis of the information already provided to the department, which may lead to application being refused.</li>
        <li>If your application is refused and you wish to lodge a new application, you will be required to pay another application fee. You must also check that you meet all the eligibility criteria, including the residence requirement at the time you make your new application.</li>
        <li>If you wish to withdraw your application, please advise the department in writing (refer to link to postal address below). Generally you will not be eligible for a refund of your application fee.</li>
        <li>In the absence of exceptional or compelling circumstances, it is expected that you are available to book and attend a citizenship appointment at the time you lodge your application. The department cannot defer making a decision on an application indefinitely.</li>
        <li>Please select the soonest available appointment that suits you.</li>
        <li>You are required to schedule an appointment within 2 weeks of receiving this information.</li>
        <li>Please allow up to 2 hours for your appointment.</li>
        <li>If you do not attend 3 appointments in total, a decision may be made on your application.</li>
      </ul>
  </td>
