<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Australian citizenship appointment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div style="background-color:rgb(232, 232, 232);padding:0;margin:0 auto;font-weight:200;width:100%!important">
      <div style="overflow:hidden;color:transparent;width:0;font-size:0;min-height:0"></div>
      <table style="table-layout:fixed;font-weight:200;font-family:Helvetica,Arial,sans-serif" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
          <tr>
            <td align="center">
              <center style="width:100%">
                <table style="margin:0 auto;max-width:512px;font-weight:200;width:inherit;" bgcolor="FFFFFF" border="0" cellpadding="10" cellspacing="0" width="512">
                  <tbody>
                    <tr>
                      <td align="left" style="background-color:rgb(232, 232, 232);padding:12px;" bgcolor="e8e8e8" width="100%">
                        <img style="height: 40px; margin: 5px" src="{{headerLogo}}" alt="Australian Government" />
                      </td>
                    </tr>
                    <tr>
                      {{> content}}

                    </tr>
                    {{^hideBookingInfo}}
                    {{> what_to_bring }}
                    {{> what_happens }}
                    {{#hasArriveInfo}}
                    {{> when_you_arrive }}
                    {{/hasArriveInfo}}
                    {{> appointmentInformation}}
                    {{> what_happens_after }}
                    {{> personal_identifiers }}
                    {{/hideBookingInfo}}
                    {{> changes_to_circumstances }}
                    {{> contact_us }}
                    <tr>
                      <td style="background-color:rgb(232, 232, 232);padding:12px;" bgcolor="e8e8e8" width="100%">
                        <img src="https://www.google-analytics.com/collect?v=1&tid={{gaTrackingId}}&uid=#PersonalId&cid=#PersonalId#PersonalId&t=event&ec=email&ea=open&cm=email&cs={{campaignSource}}&cn={{campaignName}}&cd1=#PersonalId&cd2=#UnitId&aip=1"/>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </center>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
