<td>
   <table>
     <tbody>
       <tr>
         <td align="left">
           <h1>{{headerText}}</h1>
         </td>
       </tr>
       <tr>
         <td align="left">
           <table style="font-size:16px">
             <tbody>
               <tr>
                 <td style="width: 100px" width="100">
                   Name:
                 </td>
                 <td>
                   <strong>#FirstName #LastName</strong>
                 </td>
               </tr>
             </tbody>
           </table>
           <table style="font-size:16px">
             <tbody>
               <tr>
                 <td style="width: 100px" width="100">
                   Client ID:
                 </td>
                 <td>
                   <strong>#PersonalId</strong>
                 </td>
               </tr>
             </tbody>
           </table>
         </td>
       </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <td align="left">
    I am writing in reference to your application for Australian citizenship. Our records indicate you were scheduled to attend an appointment for your citizenship application but you did not attend. Our office will be in contact with you in the next 5 to 10 days to advise the next steps.
  </td>
</tr>
<tr>
 <td align="left">
    <div style="border-top:2px black solid;margin-top:16px;margin-bottom:16px;"></div>
      <h2 style="margin-top:0px;margin-bottom:16px;">Important notes about attending your citizenship appointment</h2>
      It is very important that you attend this appointment as this is your opportunity to demonstrate that you meet the legal requirements for citizenship.
  </td>
</tr>
