<tr>
  <td align="left">
    <div style="border-top:2px black solid;"></div>
    <table>
      <tbody>
        <tr>
          <td>
            <h2>Personal identifiers</h2>
          </td>
        </tr>
        <tr>
          <td>
            Your photograph and signature are called personal identifiers. I am authorised under section 40 of the Australian Citizenship Act 2007 to request personal identifiers from you. Please consider this a formal request for your personal identifiers.
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            Your personal identifiers will be stored electronically in the department's computer system and may be shared with the Department of Foreign Affairs and Trade under an agreement we have with them to assist in administering the Australian Passports Act 2005. Your personal identifiers may also be produced in evidence in a court or tribunal in proceedings concerning you.
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            Please note that the Privacy Act 1988 applies to a personal identifier. You have the right to make a complaint to the Australian Information Commissioner about the handling of personal information. Please also note that the Freedom of Information Act 1982 gives you access to certain information and documents held by the Australian Government and its agencies. You have a right under that Act to seek access to that information or documents, and to seek amendment of records containing personal information that is incomplete, incorrect, out of date or misleading.
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
