<tr>
  <td align="left">
    <div style="border-top:2px black solid;margin-top:16px;margin-bottom:16px;"></div>
    <h2 style="margin-top:0px;margin-bottom:16px;">You must bring the following original documents</h2>
    <ul style="margin-left:16px;margin-top:0px;margin-bottom:16px;list-style: disc outside;padding-left:0px;" margin="0px 0px 16px 16px">
      <li>Bring your letter or email of appointment for Australian Citizenship interview and test.</li>
      <li>The originals of all identity documents that were submitted with your application, for each applicant including children and any other documents you were requested to provide.</li>
      <li>Any other documents that, all together, confirm your identity and show links between all names you have used (for example marriage certificate, birth certificate, change of name document) and any identity documents issued by another government to verify your identity.</li>
      <li>If you lodged your application online, please bring your completed Form 1195 Identity declaration, with a recently endorsed passport sized photograph (no more than 6 months old) for all applicants, including children.</li>
    </ul>
    <a href="https://www.border.gov.au/Trav/Citi/Appl/What-documents-do-you-need/identity-documents" target="_blank">Further information about what documents to bring</a>.
  </td>
</tr>
