<tr>
  <td align="left">
    <div style="border-top:2px black solid;margin-top:16px;margin-bottom:16px;"></div>
    <h2 style="margin-top:0px;margin-bottom:16px;">You must bring the following original documents</h2>
    <ul style="padding:0px 0px 0px 16px; margin-top:0px;margin-bottom:16px;list-style: disc outside;" padding="0px 0px 0px 16px">
      <li>The originals of all the identity documents that you submitted with your application, for all applicants including children; and</li>
      <li>Any other documents that you have been requested to provide.</li>
      <li>Any other documents that collectively confirm your identity and establish links between all names you have used (for example, birth certificate).</li>
      <li>If you lodged your application online, please bring your completed Form 1195 Identity declaration with an endorsed recent passport sized photo for each applicant including children. If you do not bring the required original documents or provide the completed Form 1195 and an endorsed photo (if lodged online), we will not be able to verify your identity and proceed with your application.</li>
    </ul>
    <a href="https://www.border.gov.au/Trav/Citi/Appl/What-documents-do-you-need/identity-documents" target="_blank">Further information about what documents to bring</a>.
  </td>
</tr>
