<tr>
  <td align="left">
    <div style="border-top:2px black solid;"></div>
    <table>
      <tbody>
        <tr>
          <td>
            <h2>What happens to your application after your appointment?</h2>
          </td>
        </tr>
        <tr>
          <td>
            After you have attended your appointment, assessment of your application will continue. You may be asked to provide additional information such as other overseas penal clearances and/or you may be asked to attend another interview. The department will advise you in writing of the outcome of your application.
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
