<tr>
  <td align="left">
    <div style="border-top:2px black solid;"></div>
    <table>
      <tbody>
        <tr>
          <td>
            <h2>What will happen at your appointment</h2>
          </td>
        </tr>
        <tr>
          <td>
            <ul style="padding:0px;margin-top:0px;marging-bottom:1rem;list-style: disc inside;" padding="0">
              <li>
                At your appointment we will discuss your citizenship application.
              </li>
              <li>
                We will check the original documents for each applicant in your application, including children and any other documentation that you have been requested to provide.
              </li>
              <li>
                We will also collect your signature and take your photograph (you must not wear coloured contact lenses for this photograph).
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <em>If you have included children in your application they are not required to attend this appointment. There are no childcare facilities so you will need to make alternative childcare arrangements for your children.</em>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
