<tr>
  <td align="left">
    <div style="border-top:2px black solid;margin-top:16px;margin-bottom:16px;"></div>
    <h2 style="margin-top:0px;margin-bottom:16px;">When you arrive</h2>
    <ul style="margin-left:16px;margin-top:0px;margin-bottom:0px;list-style: disc outside;padding-left:0px;" margin="0px 0px 0px 16px">
      <li>Please arrive at least 5 mins prior to your appointment.</li>
      <li>Collect a ticket at the citizenship kiosk by entering your Client ID or scanning the barcode from your letter.</li>
      <li>Wait until your number is called at the assigned counter.</li>
    </ul>
  </td>
</tr>
