<tr>
  <td align="left">
    <div style="border-top:2px black solid;"></div>
    <table>
      <tbody>
        <tr>
          <td>
            <h2>When you arrive</h2>
          </td>
        </tr>
        <tr>
          <td>
            <ul style="padding:0px; margin-top:1rem; marging-bottom:1rem;list-style: disc inside;" padding="0">
              <li>Please arrive at least 5 mins prior to your appointment.</li>
              <li>Collect a ticket at the citizenship kiosk by entering your Client ID or scanning the barcode from your letter.</li>
              <li>Wait until your number is called at the assigned counter.</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
