body {
    color: $font-color;
    font-size: $base-font-size;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
}

h1 { 
	font-size: 3.5rem; 
	line-height: 1.2;  
	letter-spacing: -.1rem;  
  	margin-top: 1rem;
  	margin-bottom: 3rem;
  	font-weight: bold;
}

h2 {
	margin-top: 2rem;
	font-size: 2rem;
	font-weight: bold;
	letter-spacing:0.05rem;
}

@media (max-width: 550px) {
    h1 {
        font-size: 2.5em;
    }
}
