body {
    color: $font-color;
    font-size: $base-font-size;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
}

h1 {
  letter-spacing: -.1rem;
	font-size: 3.5rem;
  font-weight: bold;
	margin: 1rem 0 1rem 0;
}

h2 {
  letter-spacing: normal;
  font-size: 2rem;
  font-weight: normal;
  margin-top: 0;
  padding: 0.5rem 0 0.5rem 0;
}

h3 {
  letter-spacing: normal;
  font-size: 2rem;
  font-weight: bold;
	margin-top: 2rem;
}

@media (max-width: 550px) {
    h1 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.5em;
    }
}
