// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Typography
$base-font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$base-font-size: 16px;
$base-font-weight: normal;
$base-line-height: 24px;

$au-gov-font-family: 'Times New Roman', Times, serif;
$au-gov-font-weight: bold;

// Colors
$govau-slate: #232D35;

$body-bgcolor: #FFFFFF;
$font-color: #000000;
$background-grey: #E8E8E8;
$input-border: #232D35;
$grey-div-bgcolor: #F0F3F5;

$available-color: #D1EAFB;
$cookies-background-color: #D1EAFB;
$available-hover-color: #A9D9F8;
$selected-color: #232D35;
$unavailable-font-color: #7B8186;
$available-times-border: #D3D5D7;

$placeholder-color: #777777;
$error-color: #E31C3D;
$error-bgcolor: #F9DEDE;

//Button default state, focus, link color
$primary: #0078C6;
$link-text: #0078C6;

//Button hover, hover outline
$primary-hover: #004AA4;
$hover-outline: #004AA4;
$hover-link-text: #004AA4;

$focus-outline: #FDB42B;
$hover-li-color: #F1F1F1;

$beta-tag: #D74100;

$footer-font-color: #FFFFFF;
$footer-link-hover: #E5E5E5;
