// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Typography
$base-font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$base-font-size: 16px;
$base-font-weight: normal;
$base-line-height: 24px;

$au-gov-font-family: 'Times New Roman', Times, serif;
$au-gov-font-weight: bold;

// Colors
$font-color: #333333;
$govau-slate: #222C35;
$dibp-blue: #0178C6;
$light-grey: #E8E8E8;
$highlight-grey: #9A9B9C;
$available-color: #D1EAFB;
$hover-color: #DCEEFF;
$selected-color: #222C35;
$unavailable-font-color: #6D6D6D;
$placeholder-color: #8D8D8D;

$primary: #0060BD;
$primary-hover: #003296;

$hover-outline: #FDB42B;
$hover-link-text: #004AA4;
$link-text: #0c62b9;

$beta-tag: #F16A22;
