// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Typography
$font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// Colors
$font-color: #333333;
$light-grey: #E8E8E8;
$govau-slate: #222C35;
$dibp-blue: #0178C6;
