// Selection Confirmation
//––––––––––––––––––––––––––––––––––––––––––––––––––

.confirm-appointment-button {
  margin-bottom: 20px;
}

.selected-appointment-detail {
  padding: 20px 5px;
  font-size: 24px;
  
  span {
    white-space: nowrap;
  }
}
