// Selection Confirmation
//––––––––––––––––––––––––––––––––––––––––––––––––––

.confirm-appointment-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.selected-appointment-detail {
  font-size: 24px;
  span {
    display: inline-block;
  }
}

@media (max-width: 550px) {
  .selected-appointment-detail {
    span {
      display: block;
    }
  }
}
