// Calendar information
//––––––––––––––––––––––––––––––––––––––––––––––––––

.Calendar-info {
    text-align: justify;
    font-size: 0.9em;
}

.Calendar-info--field {
    display: inline-block;
}

.Calendar-info:after {
    content: '';
    width: 100%;
    display: inline-block;
}

// Calendar Legend
//––––––––––––––––––––––––––––––––––––––––––––––––––

.Legend-label {
    vertical-align: middle;
}

.Legend-box {
    display: inline-block;
    vertical-align: middle;
    background: $available-color;
    width: 2rem;
    height: 2rem;
}

.Legend-box--unavailable {
    background: url('../images/unavailable_tile.png');
}

// Calendar Section
//––––––––––––––––––––––––––––––––––––––––––––––––––
.Loading-message {
    text-align: center;
    font-style: italic;
    max-height: 30vh;
    line-height: 30vh;
}

// Calendar Navigation
//––––––––––––––––––––––––––––––––––––––––––––––––––

.Calendar-nav {
    position: relative;
}

.Calendar-nav--month {
    display: block;
    font-size: 1.6em;
    line-height: normal;
    padding: 0.5em 0;
    text-align: center;
}

.Calendar-nav--next,
.Calendar-nav--prev {
    background-color: transparent;
    text-decoration: none;
    border: 0;
    position: absolute;
    top: 0;
    margin-top: 1rem;
    padding: 0 1.5rem 0 2rem;
}

.Calendar-nav--label {
    color: $font-color;
    font-weight: bold;
    font-size: 2.5em;
}

.Calendar-nav--label:hover {
    color: black;
}

.Calendar-nav--prev {
    left: 0;
}

.Calendar-nav--next {
    right: 0;
}

.hidden {
    display: none;
}

// Calendar Table
//––––––––––––––––––––––––––––––––––––––––––––––––––

.Calendar-header--dayLabel {
    position: relative;
    text-align: center;
    border: 0;
    padding: 0;
    font-size: 1em;
}

.Calendar-header--dayLabel:after {
    content: attr(data-state);
    display: none;
}

.Calendar-dates {
    width: 100%;
    border-spacing: 0.5rem 0.50rem;
    border-collapse: separate;
    background: white;
}

.Calendar-header--dayLabel,
.DateCell {
    width: 14.28571%;
}

// Calendar Date Cells
//––––––––––––––––––––––––––––––––––––––––––––––––––

.DateCell {
    font-size: 1.9em;
    padding: 0;
    border: 0;
}

.DateCell-content {
    position: relative;
    height: 9rem;
}

.DateCell-content--datelink {
    position: absolute;
    top: 0;
    font-style: normal;
    text-align: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.DateCell-content--day {
    margin: 0;
    padding: 1rem 0 0 0;
    font-weight: bold;
}

.DateCell-content--availableTimesCount {
    font-size: 0.5em;
}

.today::before {
    content: 'TODAY';
    position: absolute;
    top: 0;
    left: 0;
    min-width: 4rem;
    padding: 0 0.5rem;
    line-height: normal;
    text-align: center;
    font-size: 0.45em;
    color: white;
    background: $govau-slate;
}

// Calendar Date Cells (Bookable)
//––––––––––––––––––––––––––––––––––––––––––––––––––

.Calendar-date--bookable {
    background: $available-color;
}

.Calendar-date--bookable .DateCell-content--datelink {
    color: $font-color;
}

.Calendar-date--bookable .DateCell-content--datelink:hover {
    text-decoration: none;
    background: $hover-color;
}

.Calendar-date--bookable.is-active {
    border-color: $selected-color;
    background: $selected-color;
}

.Calendar-date--bookable.is-active {
    background: $selected-color;
}

.Calendar-date--bookable.is-active .DateCell-content--datelink {
    color: white;
    background: $selected-color;
}

.Calendar-date--bookable.is-active .DateCell-content--datelink:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 0.7rem $selected-color;
    border-left: solid 0.7rem transparent;
    border-right: solid 0.7rem transparent;
}



// Calendar Date Cells (Unavailable)
//––––––––––––––––––––––––––––––––––––––––––––––––––

.DateCell.Calendar-date--unavailable {
    pointer-events: none;
    cursor: default;
    background: url('../images/unavailable_tile.png');
}

.Calendar-date--unavailable .DateCell-content--datelink{
    color: $unavailable-font-color;
}

.Calendar-date--unavailable .DateCell-content--day {
    font-weight: lighter;
}

// Calendar Date Cells (Hidden)
//––––––––––––––––––––––––––––––––––––––––––––––––––

.DateCell.Calendar-date--hide {
    background: transparent;
}

.Calendar-date--hide .DateCell-content {
    display: none;
}


// Available Times
//––––––––––––––––––––––––––––––––––––––––––––––––––

.AvailableTimesCell {
    border-bottom: 1px solid $light-grey;
    padding: 0;
}

.AppointmentTimes-table {
    margin-top: 1rem;
    border-top: 1px solid;
    display: table;
    text-align: center;
    width: 100%;
}

.AppointmentTimes-list--item {
    display: table-cell;
    text-align: center;
    float: left;
    line-height: 40px;
    width: 14.28571%;
    min-height: 40px;
    min-width: 117px;
}

.AppointmentTimes-list--item.is-active {
    border-color: $selected-color;
    background: $selected-color;
}

.AppointmentTimes-list--item.is-active .AppointmentLink {
    color: white;
    background: $selected-color;
}

.AppointmentLink {
    font-size: 1.2em;
    text-decoration: none;
    color: $font-color;
    font-weight: bold;
}

.AppointmentLink-ampm {
    font-size: .75em;
    font-weight: lighter;
}

// Selection Confirmation
//––––––––––––––––––––––––––––––––––––––––––––––––––

.SelectionConfirmationCell {
    padding: 1rem;
    font-size: 1.5em;
    text-align: center;
    border-bottom: 1px solid;
}

.SelectionConfirmation-button {
    margin-top: 1rem;
}

.SelectionConfirmation-label {
    padding-right: 1rem;
}

// Responsive Styles (Mobile)
//––––––––––––––––––––––––––––––––––––––––––––––––––

@media (max-width: 640px) {
    .Calendar-header--dayLabel:after {
        display: block;
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .DateCell-content {
        max-height: 4.5rem;
    }

    .DateCell-content--day {
        padding: 0;
    }

    .DateCell-content--availableTimesCount {
        display: none;
    }

    .today::before {
        font-size: 0.3em;
        font-weight: bold;
        min-width: 100%;
        padding: 0;
    }

}
