.subtitle {
  line-height: 1.25;
  letter-spacing:0.05rem;
  font-size: 2rem;
  text-align:left;
  font-weight: 300;
}

.small-bottom-margin {
	margin-bottom: 0.5rem;
}

.top-large-padding {
	padding-top: 2.5rem;
}

.barcode-frame {
	text-align: center;
	margin-bottom: 1rem;
}

.barcode-text {
	font-style: italic;
	font-size: 1.2rem;
	line-height: 1.5rem;
}

.strong-top-line {
	border-top :2px solid $font-color;
	padding-top: 2rem;
	margin-top: 2rem;
}

.grey-div {
	padding: 0.1rem 1.5rem 1.5rem 1.5rem;
	background-color: $grey-div-bgcolor;
	margin-top: 0rem;
	margin-bottom: 2rem;
}

.min-left-margin {
	margin-left: 1%;
}

.disclaimer {
	font-style: italic;
}

.container.last{
	margin-bottom: 3rem;
}

.last-appt-details {
	margin-bottom: 2.5rem;
}

//BEGIN: Add to calendar dropdown

.dropdown {
   	display: inline;
   	float: left;
	position: relative;
}

.dropdown ul {
    list-style: none;
    min-width: 23.6rem;
    background-color: white;
    border: 1px solid $input-border;
    position: absolute;
	left: -9999px;
	opacity: 0;
	transition: 0.1s linear opacity;
	z-index:100;
	margin-top: -1rem;
	padding-left: 0rem;
	margin-left: 0rem;
}

.dropdown li > a {
	float: left;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background: $body-bgcolor;
    color: $font-color;
}

.dropdown li > a:hover,
.dropdown li > a:focus,
.dropdown li > a:active,
.dropdown li:focus > a,
.dropdown li:hover > a,
.dropdown li:active > a,
.dropdown button:focus > a,
.dropdown button:hover > a,
.dropdown button:active > a {
	background: $hover-li-color;
}

.dropdown > a:hover,
.dropdown > a:focus,
.dropdown:focus > a,
.dropdown:hover > a,
.dropdown:active > a{
	background: $hover-li-color;
}

.dropdown li > a:hover,
.dropdown li:hover > a,
.dropdown button:hover > a,
.dropdown > a:hover,
.dropdown:hover > a{
	outline: none;
}

.dropdown li > a:hover:focus,
.dropdown li:hover:focus > a,
.dropdown button:hover:focus > a,
.dropdown > a:hover:focus,
.dropdown:hover:focus > a{
	outline: medium solid $focus-outline;
}

.dropdown:hover ul,
.dropdown:focus ul,
.dropdown:active ul,
.dropdown button:focus + ul,
.dropdown button:hover + ul,
.dropdown button:active + ul,
.dropdown ul.show-menu {
	left: 0;
	opacity: 0.99;
}


.dropdown ul li {
	float: none;
	position: static;
}

.dropdown ul a {
	float: none;
	display: block;
	text-shadow: none;
	transition: 0.1s linear all;
}

.dropdown ul a:hover,
.dropdown ul a:focus,
.dropdown ul a:active {
	text-shadow: none;
}

.dropdown li i{
    margin-right: 5px;
 }

//END: Add to calendar dropdown

.button#addToCalendar,
.button#print-page {
    min-width: 23.6rem;
}

// BEGIN: mobile media query

@media (max-width: 550px) {
    .barcode {
        font-size: 7rem;
        text-align: center;
    }

    .min-left-margin {
        margin-left: 0rem;
    }

    .dropdown {
        width: 100%;
    }

    .dropdown ul {
        width: 100%;
    }
}

//END: mobile change
