.appointment-confirmation {
  @include span-columns(12);
  background-color: $light-grey;
  margin-top: 20px;
  margin-bottom: 30px;

  .button {
    vertical-align: bottom;
  }
}

.appointment-detail {
  @include span-columns(6 of 12);

  @include media($mobile) {
    @include span-columns(1);
  }

  padding: 20px;

  .appointment-type {
    font-weight: bold;
    padding-top: 10px;
  }

  .appointment-date,
  .appointment-time {
    font-size: 30px;
  }

  > div {
    padding-bottom: 20px
  }
}

.barcode-frame,
.apple-wallet-frame {
  padding: 10px;
  text-align: center;
  background-color: $white;
  border: 1px solid $mid-grey;
}

.barcode-frame {
  * {
    padding-bottom: 20px;
  }
}

.apple-wallet-frame {
  border-top: 0;
  padding-top: 20px;

  .add-to-wallet-link:hover {
    outline: none;
  }
  .apple-wallet-button {
    height: 48px;
  }
}

.appointment-info {
  clear: left;
  border-bottom: 1px solid $mid-grey;

  &:last-child {
    border: none;
  }
}

.bullet-list {
  li {
    padding-bottom: 20px;
  }
}

.button#print_page {
  @include media($mobile) {
    display: none;
  }
}

//BEGIN: Add to calendar dropdown

.dropdown {
 	display: inline;
	position: relative;
}

.dropdown ul {
  list-style: none;
  width: 100%;
  background-color: $body-bg-color;
  border: 1px solid $mid-grey;
  position: absolute;
	left: -9999px;
	opacity: 0;
	transition: 0.1s linear opacity;
	z-index: 100;
  margin: 0;
  padding: 0;

}

.dropdown ul a {
  display: block;
  padding: 3px 10px;
  text-decoration: none;
  color: $base-font-color;
}

.dropdown:hover ul,
.dropdown:focus ul,
.dropdown:active ul,
.dropdown button:focus + ul,
.dropdown button:hover + ul,
.dropdown button:active + ul,
.dropdown ul.show-menu {
	left: 0;
	opacity: 0.99;
}

//END: Add to calendar dropdown
