.first-cookie-paragraph {
  margin-top: 3rem;
}

.cookies-container ul {
  margin-bottom: 3rem;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.cookies-container table {
  border-color: grey;
}

.cookies-container h2{
  margin-top: 3rem;
}

.cookies-container h3{
  margin-top: 2rem;
}
