.ClientIdHelp-show,
.ClientIdHelp-hide {
    margin-bottom: 1rem;
}

.ClientIdHelp-mobile {
    display: none;
}

.ClientIdHelp-desktop {
    display: block;
}

.ClientIdHelp-show {
    display: block;
}

.ClientIdHelp-hide {
    display: none;
}

.ClientIdHelp-image {
    max-width: 50rem;
    margin-top: 2rem;
}

.LoginForm-elements {
    display: inline-block;
    vertical-align: top;
}

.LoginForm-elements input.invalid { 
    border: 2px solid $error-color;
}

.LoginForm-input {
    display: inline-block;
    margin-right: 2rem;
    vertical-align: top;
}

.LoginForm-input > * {
    margin-bottom: .5rem;
}

// Responsive Styles (Mobile)
//––––––––––––––––––––––––––––––––––––––––––––––––––

.desktop-only {
    display: block;
}

@media (max-width: 550px) {
    .ClientIdHelp-image {
        width: 100%;
    }

    .LoginForm-elements {
        display: block;
    }

    .LoginForm-input {
        display: block;
    }

    .desktop-only {
        display: none;
    }
}

@media (max-width: 844px) {
    .ClientIdHelp-mobile {
        display: block;
    }

    .ClientIdHelp-desktop {
        display: none;
    }

    .LoginForm-input > * {
        margin-bottom: 1.5rem;
    }

    .LoginForm-input--clientId {
        margin-bottom: .5rem;
    }
}

.warning-link {
    text-decoration: none;
}

.warning-header {
    background-color: $govau-slate;
    color: white;
    display: table-cell;
    padding: 10px 16px;
}

.warning-message {
    color: $govau-slate;
    display: table-cell;
    padding: 10px 10px;
}

.warning-action-text {
    text-decoration: underline;
}

.button-icon {
    width: 2.5rem;
    height: 2.5rem
}

button.with-icon > img,
button.with-icon > span {
  vertical-align: middle;
}

button.with-icon {
    padding: 0 1.5rem 0 2rem;
}

.validation-error{
    color: $error-color;
}

.inactive {
    display: none;
}
