.ClientIdHelp {
    margin-bottom: 2rem;
}

.ClientIdHelp-image {
    display: none;
    max-width: 60rem;
    margin-top: 2rem;
}

.survey {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.LoginForm-input {
    display: inline-block;
}

// Responsive Styles (Mobile)
//––––––––––––––––––––––––––––––––––––––––––––––––––

@media (max-width: 550px) {
    .ClientIdHelp-image {
        width: 100%;
    }

    .LoginForm-input {
        display: block;
    }
}

.warning-banner {
}

.warning-link {
    text-decoration: none;
}

.warning-header {
    background-color: $govau-slate;
    color: white;
    display: table-cell;
    padding: 10px 16px;
}

.warning-message {
    color: $govau-slate;
    display: table-cell;
    padding: 10px 10px;
}

.warning-action-text {
    text-decoration: underline;
}
