{{> html_base_premain_pretitle }}
    <title>Australian Government - Citizenship Appointment Booking Calendar - Select date</title>
{{> html_base_premain_posttitle}}

<div class="container calendar-page--main">
    <a href="/logout" class="logout-link">Log out</a>
    <h1>Available appointments</h1>
    <h2 class="steps-info">Step 2 of 3: Select date, then time</h2>

    {{#error}}
    <div class="error-div" role="alert">
        There was an error processing your request. Your appointment was not booked. Please try again.
    </div>
    {{/error}}
    {{#unavailable}}
    <div class="error-div" role="alert">
        Sorry, the slot is no longer available. Please select a different date and time.
    </div>
    {{/unavailable}}

    <div class="Calendar-info">
        <div class="Calendar-info--field">
            <img src="/images/map-marker.svg" width="15" onerror="this.src='/images/png/map-marker.png';" class="icon" alt ="" role="presentation"/>
            <span class="icon-label">Location:</span>
            <span><a href="https://www.google.com.au/maps?daddr={{locationURL}}" target="_blank" aria-label="{{ location }} Press to open google maps to see directions" tabindex="1">{{ location }} (map)</a></span>
        </div>
    </div>
    <div class="Calendars">
        <ul>
        {{#available_dates}}
            <li>
                <a href="/calendar/text/{{id}}">
                    {{displayDate}}, {{availableTimesCount}} available appointments
                </a>
            </li>
        {{/available_dates}}
        </ul>
        {{^available_dates}}
          <div class="no-available-dates">
            <p>It seems there are no available appointments. The management has been notified. Please try again in 24 hours.</p>
           <a href="/logout" class="button log-out" tabindex="1">
              Log out
            </a>
            </div>
        {{/available_dates}}
    </div>
</div>
<script src='/analytics_auth.js'></script>
<script src="/static/oldJS/calendar_old.js" charset="utf-8"></script>
{{> html_base_postmain }}
