{{> premain }}
<main>
    <div class="container main-container">
        <h1>Available appointments</h1>
        <h2 class="steps-info">Step 2 of 3: Select date, then time</h2>
        {{#error}}
        <div class="error-div" role="alert">
            <img class="error-icon" src="/images/warning.svg" width="15" alt="" onerror="this.src='/images/warning.png';">
            <span class="error-message">
                There was an error processing your request.
                Your appointment was not booked.
                Please try again.
            </span>
        </div>
        {{/error}}
        {{#unavailable}}
        <div class="error-div" role="alert">
            <img class="error-icon" src="/images/warning.svg" width="15" alt="" onerror="this.src='/images/warning.png';">
            <span class="error-message">
                Sorry, the slot is no longer available. Please select a different date and time.
            </span>
        </div>
        {{/unavailable}}
        {{#not_eligible}}
        <div class="error-div" role="alert">
            <img class="error-icon" src="/images/warning.svg" width="15" alt="" onerror="this.src='/images/warning.png';">
            <span class="error-message">
                Sorry, you are not eligible to book an appointment. If you think it is a mistake, please call 131 880.
            </span>
        </div>
        {{/not_eligible}}

        <div class="appointment-location inline-icon-with-text">
            <img src="/images/map-marker.svg" onerror="this.src='/images/map-marker.png';" class="icon" alt ="" role="presentation"/><span class="text-label">Appointment location: </span> <a href="https://www.google.com.au/maps?daddr={{locationURL}}" target="_blank" aria-label="{{ location }} Press to open google maps to see directions" tabindex="1">{{ location }} (map)</a>
        </div>

        <div class="calendar" id="calendar">
            <p>
                Available times for {{display_date}}
            </p>
            <ul>
                {{#available_times}}
                <li>
                    <a href="/calendar/text/{{date}}/{{time}}">{{displayTime}}</a>
                </li>
                {{/available_times}}
            </ul>
            <p>
                <a href="/calendar/text">Select different date</a>
            </p>
        </div>
    </div>
</main>
<script src='/analytics_auth.js'></script>
<script src="/static/oldJS/calendar_old.js" charset="utf-8"></script>
{{> postmain }}
