<div class="container wallet-container">
  <h1>Add to Apple Wallet</h1>

  <p>If you have an iPhone you can add your appointment to your Apple Wallet. This will speed up the process of checking in when you arrive for your appointment.</p>

  <h2>How to add your appointment</h2>

  <ul>
    <li>Open the Wallet app on your iPhone, click on the plus button at the top of the "Passes" section</li>
    <li>Tap on "Scan Code to Add a Pass"</li>
    <li>Position the barcode below in the frame on your iPhone screen to scan the barcode</li>
  </ul>
  <br/>

  <p class="add-to-wallet-barcode"><img src="/wallet/pass/barcode.png?id={{clientId}}&otherid={{customerId}}" alt="Scan this barcode using the Wallet app on your iPhone to add a pass for your appointment to Wallet. This will allow for easy and fast check-in when you arrive for your appointment."></p>
</div>
