window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', '{{trackingId}}', 'auto'{{#clientId}}, { 'userId': '{{clientId}}' }{{/clientId}});


ga(function(tracker) {
	var search = location.search;

	var clId = search.match('id=([0-9]{11})');
	if(clId){
	    ga('set', 'userId', clId[1]);
	    ga('set', 'dimension1', clId[1]);
	}

	var unId1 = search.match('cd1=([a-zA-Z0-9]*)');
	if(unId1){
	    ga('set', 'dimension1', unId1[1]);
	}

	var unId2 = search.match('cd2=([a-zA-Z0-9]*)');
	if(unId2){
	    ga('set', 'dimension2', unId2[1]);
	}
});

{{#clientId}}
ga('set', 'dimension1', "{{clientId}}");
{{/clientId}}

{{#unitId}}
ga('set', 'dimension2', "{{unitId}}");
{{/unitId}}

ga('set', 'anonymizeIp', true);
ga('send', 'pageview');
