<div class="container Beta">
    <span class="Beta-tag">BETA</span>
    <span class="Beta-message">
        This is a new service. If you need any help with using it, please call 1300 792 080.
    </span>
</div>
