  <div class="BookingCalendar">

    <!-- Calendar title and navigation -->
    <div class="BookingCalendar-header">
      <button type="button" class="BookingCalendar-nav BookingCalendar-nav--prev">
        <span class="BookingCalendar-nav--prev fa fa-angle-left"></span>
        <span class="BookingCalendar-nav--prev button-desc"></span>
      </button>
      <strong class="BookingCalendar-currentMonth"></strong>
      <button type="button" class="BookingCalendar-nav BookingCalendar-nav--next">
        <span class="BookingCalendar-nav--next button-desc"></span>
        <span class="BookingCalendar-nav--next fa fa-angle-right"></span>
      </button>
    </div>

    <!-- Calendar table -->

    <table class="BookingCalendar-dates">
      <thead>
        <tr>
          <th class="abbr" data-state="M">Mon</th>
          <th class="abbr" data-state="T">Tue</th>
          <th class="abbr" data-state="W">Wed</th>
          <th class="abbr" data-state="T">Thu</th>
          <th class="abbr" data-state="F">Fri</th>
          <th class="abbr" data-state="S">Sat</th>
          <th class="abbr" data-state="S">Sun</th>
        </tr>
      </thead>
      <tbody class="BookingCalendar-datesBody">
      </tbody>
    </table>

  </div>
