<footer class="u-full-width Footer-section">

    {{> feedback }}

    <div class="u-full-width footer">
        <div class="container">
            <div class="row">
                <div class="three columns desktop">
                    <img role="presentation" src="/images/gov-au-coat-of-arms-white.svg" width="95"
                        onerror="this.src='/images/png/gov-au-coat-of-arms-white.png';" alt="Australian Government logo"/>
                </div>
                <div class="nine columns">
                    <div class="footerlinks">
                        <div class="footerlink">
                            <a href="https://www.border.gov.au/Trav/Citi" class="footerlink" target="_blank">Australian
                                citizenship</a>
                        </div>
                        <div class="footerlink">
                            <a href="https://www.border.gov.au/website/accessibility" class="footerlink" target="_blank">Accessibility</a>
                        </div>
                        <div class="footerlink">
                            <a href="https://www.border.gov.au/about/access-accountability/plans-policies-charters/policies/privacy" class="footerlink" target="_blank">Privacy policy</a>
                        </div>
                        <div class="footerlink">
                            <a href="https://www.border.gov.au/website/web-privacy-statement"
                               class="footerlink" target="_blank">Web privacy</a>
                        </div>
                        <div class="footerlink">
                            <a href="https://www.border.gov.au/website/copyright-and-disclaimer" class="footerlink"
                               target="_blank">Copyright and disclaimer</a>
                        </div>
                    </div>
                    <div class="three columns mobile">
                        <img role="presentation"  width="95" src="/images/gov-au-coat-of-arms-white.svg" onerror="this.src='/images/png/gov-au-coat-of-arms-white.png';"
                             alt="Australian Government logo"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
