<header class="u-full-width header">
  <div class="container">
    <a href="/" style="header-link" title="Go to the Australian Goverment home page">
      <span>
      	<img src="images/gov-au-coat-of-arms.svg" alt=""/>
      	&nbsp;Australian Government
      </span>
    </a>
  </div>
</header>
