<header>
	<div  class="u-full-width header">
	  <div class="container">
		 <span>
		  <img src="/images/gov-au-coat-of-arms.svg" onerror="this.src='/images/png/gov-au-coat-of-arms.png';" alt="Coat of arms logo" role="presentation"/>
		  <span class="small-left-padding">Australian Government</span>
		 </span>
	  </div>
	</div>

	{{> beta }}
</header>
