<header>
	<div  class="u-full-width header">
	  <div class="container">
		  <img src="/images/gov-au-coat-of-arms.svg" onerror="this.src='/images/png/gov-au-coat-of-arms.png';" alt="Coat of Arms logo" width="80" height="55"/>
		  <span class="small-left-padding">Australian Government</span>
	  </div>
	</div>

	{{> beta }}
</header>
