	<link rel="apple-touch-icon" href="/images/coat-of-arms-black-on-white-60x60.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/images/coat-of-arms-black-on-white-76x76.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/images/coat-of-arms-black-on-white-120x120.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/images/coat-of-arms-black-on-white-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/images/coat-of-arms-black-on-white-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/coat-of-arms-black-on-white-180x180.png">
	<link rel="stylesheet" type="text/css" href="/static/bundle.css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="/static/bundle-IElte8.css">
    <![endif]-->
	<script src='/analytics.js'></script>
	<script async src='//www.google-analytics.com/analytics.js'></script>
</head>
<body>

<div class="warning-banner warning-oldbrowsers">
    <span class="warning-header">Your browser is out of date!</span>
    <span class="warning-message">This site is optimised for modern browsers, and does not fully support the version of the browser you are using. Please consider updating.</span>
</div>

<noscript>
    <div class="warning-banner warning-javascript" role="alert">
        <span class="warning-header">JavaScript is disabled!</span>
        <a href="." class="warning-link" tabindex="1"><span class="warning-message">JavaScript is required to use this site. Please enable JavaScript and </span>click here to reload this page.</a>
    </div>
</noscript>

<div class="warning-banner warning-cookies">
    <div role="alert">
        <span class="warning-header">Cookies are disabled!</span>
         <span class="warning-message">Cookies are required to use this site. Please make sure you have cookies enabled.</span>
    </div>
</div>


<div class="MainContainer">
	{{> header }}
	<main>
