<div id="no-appt-modal" class="modal-bg">
    <div class="modal-div" role="alertdialog" aria-label="There are no available appointments. Please try again in 24 hours.">
        <div class="modal-div-content">
            <a href="#close-modal" title="Close" aria-label="Close this dialog" class="close" tabindex="2"><img src="/images/times.svg" onerror="this.src='/images/times.png';" class="icon" alt="" role="presentation"/></a>
            <h1>It seems there are no available appointments</h1>
            <p>The management has been notified. Please try again in 24 hours.</p>
            <p><a href="/logout" class="button inline-button log-out" tabindex="1">Log out</a></p>
        </div>
    </div>
</div>
