<div id="no-appt-modal" class="modalDialog-bg">
  <div class="modalDialog" role="alertdialog" aria-label="There are no available appointments. Please try again in 24 hours.">
    <div class="modalDialog-content">
      <a href="#close-modal" type="button" title="Close" aria-label="Close this dialog" class="close" tabindex="2">
        <img src="/images/times.svg" width="25" onerror="this.src='/images/times.png';" class="button-icon" alt="" role="presentation"/>
      </a>

      <div class="modalDialog-content--stuff">
        <h1>It seems there are no available appointments</h1>
        <p>The management has been notified. Please try again in 24 hours.</p>
        <a href="/logout" class="button log-out" tabindex="1">
          Log out
        </a>
      </div>
    </div>
  </div>
</div>
