  <div class="BookingCalendar">

    <!-- Calendar title and navigation -->
    <div class="BookingCalendar-header">
      <strong class="BookingCalendar-currentMonth"></strong>
    </div>

    <!-- Calendar table -->

    <table class="BookingCalendar-dates">
      <thead>
        <tr>
          <th class="abbr" data-state="M">Mon</th>
          <th class="abbr" data-state="T">Tue</th>
          <th class="abbr" data-state="W">Wed</th>
          <th class="abbr" data-state="T">Thu</th>
          <th class="abbr" data-state="F">Fri</th>
          <th class="abbr" data-state="S">Sat</th>
          <th class="abbr" data-state="S">Sun</th>
        </tr>
      </thead>
      <tbody class="BookingCalendar-datesBody">
      </tbody>
    </table>

  </div>
