.button {
    border: 0;
    border-radius: 0;
    text-transform: none;
    margin-right: 1rem;
    padding: 0 1.5rem 0 2rem;

    background: $primary;
    color: white; 
    font-size: 1.5rem;
}

.button:focus, .button:hover,
input.button:focus, input.button:hover {
    background-color: $primary-hover;
    color: white;
}

input.button {
    @extend .button;
    font-size: 20px;
    font-style: normal;
}

@media (max-width: 550px) {
    .button, input.button {
        width: 100%;
    }
}
