label {
  font-size: $base-font-size;
  font-weight: bold;
  cursor: pointer;
}

input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    -webkit-appearance: none;
    border: 1px solid $mid-grey;
    border-radius: 0;
    font-size: $base-font-size;
    padding: 0 12px;
    height: 48px;
    width: 32ch;

    @include media($mobile) {
      width: 100%;
    }

    &:focus {
      outline: 3px solid $outline-focus-color;
    }
  }
}

input.invalid {
  border: 1px solid $red;
}

.input-validation-error {
  color: $red;
}
