@mixin au-gov-text($color) {
  font-family: $au-gov-font-family;
  font-weight: bold;
  color: $color;
  letter-spacing: em(-0.01);
  padding-left: em(5);
}

.au-gov-logo {
  @include media($mobile) {
    font-size: 14px;
  }

  * {
    vertical-align: middle;
  }

  span {
    @include au-gov-text($white);
  }
}
