BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//border.gov.au//Citizenship Appointment Service//EN
BEGIN:VEVENT
UID:{{id}}@border.gov.au
DTSTART;TZID={{timeZone}}:{{startTime}}
DTEND;TZID={{timeZone}}:{{endTime}}
SUMMARY:Citizenship Appointment
LOCATION:{{location}}
DESCRIPTION:Australian Citizenship Appointment\nplease bring all the required documents and make sure you are prepared to sit the test
END:VEVENT
END:VCALENDAR
