BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//border.gov.au//Citizenship Appointment Service//EN
BEGIN:VEVENT
UID:{{id}}@border.gov.au
DTSTART;TZID={{timeZone}}:{{startTime}}
DTEND;TZID={{timeZone}}:{{endTime}}
SUMMARY:Citizenship appointment
LOCATION:Department of Immigration and Border Protection, {{location}}
DESCRIPTION:For details please refer to your citizenship appointment email/letter.
END:VEVENT
END:VCALENDAR
