<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>confirmation</title>

  <link rel="icon" type="image/png" href="images/coat-of-arms-black-on-white-32x32.png" sizes="32x32">
  <link rel="stylesheet" type="text/css" href="static/bundle.css">
</head>
<body>

  {{> header }}

  <main>
    <div class="container">
      <div class="steps-info">Step 3 of 3</div>
      <h1 class="landing-title">Your appointment is confirmed</h1>

      <p>
      {{selected_appointment}}
      </p>
    </div>
  </main>

  {{> footer }}

</body>
</html>
