{{> premain }}
<main>
    <div class="container main-container">
        <h1><img class="inline-icon" src="/images/check-circle.svg" onerror="this.src='/images/check-circle.png';" role="presentation"/>Your appointment is confirmed</h1>
        <h2 class="steps-info">Step 2 of 2: Confirmation details</h2>

        <div class="confirmation-message">
            {{#hasEmail}}
            <span class="">We have sent this confirmation to your email address.</span>
            {{/hasEmail}}
            {{#hasMobile}}
            <span class="">You will receive a free SMS reminder 24 hours prior to your appointment.</span>
            {{/hasMobile}}
        </div>

        <div class="appointment-confirmation">
            <div class="info-card appointment-detail">
                <div class="inline-icon-with-text">
                    <img src="/images/calendar.svg" onerror="this.src='/images/calendar.png';" class="icon" alt ="" role="presentation"/>
                    <span class="text-label">Citizenship interview and test appointment</span>
                </div>
                <div>
                    <span class="appointment-date">{{ appointment_date }}, </span>
                    <span class="appointment-time">{{ appointment_time }}</span>
                </div>

                <div class="inline-icon-with-text">
                    <img src="/images/map-marker.svg" onerror="this.src='/images/map-marker.png';" class="icon" alt ="" role="presentation"/>
                    <span class="text-label">Appointment location</span>
                    <div><a href="https://www.google.com.au/maps?daddr={{locationURL}}" target="_blank" aria-label="{{ location }} Press to open google maps to see directions" tabindex="1">{{ location }} (map)</a></div>
                </div>

                <button type="button" class="button inline-button" id="print_page">
                    Print page
                </button>
            </div>
            <div class="info-card appointment-ticket">
                <div class="barcode-frame">
                    <div class="barcode-text">
                        Scan this barcode at the reception kiosk on your arrival.
                        Or use your client ID below.
                    </div>
                    <img class="barcode-image" src="/barcode/pdf417/{{clientId}}" alt="Barcode to scan on your arrival" />
                    <div class="barcode-text">
                        Client ID: {{clientId}}
                    </div>
                </div>
            </div>
        </div>

        <div class="appointment-info">
            <h3>What to bring to your appointment</h3>
            <ul class="bullet-list">
                <li>Bring your letter or email of appointment for Australian Citizenship interview and test.</li>
                <li>The originals of all identity documents that were submitted with your application, for each applicant including children and any other documents you were requested to provide.</li>
                <li>Any other documents that, all together, confirm your identity and show links between all names you have used (for example marriage certificate, birth certificate, change of name document) and any identity documents issued by another government to verify your identity.</li>
                <li>If you lodged your application online, please bring your completed <a href="https://www.border.gov.au/Forms/Documents/1195.pdf" target="_blank">Form 1195 - Identity declaration (PDF)</a>, with a recently endorsed passport sized photograph (no more than 6 months old) for all applicants, including children.</li>
            </ul>
        </div>

        <div class="appointment-info">
            <h3>When you arrive</h3>
            <ul class="bullet-list">
                <li>Please arrive between 5 and 20 minutes before your appointment.</li>
                <li>Collect a ticket at the kiosk, by entering your Client ID which is located at the top of the letter / email or scan the barcode from your email.</li>
                <li>Wait until your number is called at the assigned counter.</li>
            </ul>
        </div>
    </div>
</main>
<script src='/analytics_auth.js'></script>
<script src="/static/scriptselect/confirmation_scriptselect.js" charset="utf-8"></script>
{{> postmain }}
