{{> premain }}
<main>
    <div class="container main-container">
        <h1>Cookies</h1>
        <h2>How cookies are used on Citizenship Appointment Booking</h2>
        <p>Citizenship Appointment Booking puts small files (known as 'cookies') onto your computer to collect information about how you browse the site and to temporarily store your session details.</p>
        <p>Cookies are used to:</p>
        <ul>
            <li>measure how you use the website so it can be updated and improved based on your needs</li>
            <li>store your session, so we don't have to ask you for your details on every page</li>
        </ul>
        <p>Citizenship Appointment Booking cookies aren't used to identify you personally.
        </p>
        <p>You'll normally see a message on the site before we store a cookie on your computer.
        </p>
        <p>Find out more about <a href="http://www.aboutcookies.org/" target="_blank">how to manage cookies</a>.</p>

        <h3>Measuring website usage (Google Analytics)</h3>
        <p>We use Google Analytics to collect information about how you use our service. We do this to help make sure the site is meeting the needs of its users and to help us make improvements.</p>
        <p>Google Analytics stores information about:</p>
        <ul>
            <li>the pages you visit on Citizenship Appointment Booking and how long you spent on each of them</li>
            <li>how you got to the site</li>
            <li>what you click on while you're visiting the site</li>
            <li>any errors that were displayed to you</li>
        </ul>
        <p>We don't collect or store your personal information (e.g., your name or address) so this information can't be used to identify who you are.</p>
        <p>We don't allow Google to use or share our analytics data.</p>
        <p>We <a href="https://support.google.com/analytics/answer/2905384?hl=en" target="_blank">mask your IP address</a> to comply with current Australian Privacy Principles.</p>
        <p>Google Analytics sets the following cookies:</p>
        <table class="cookie-info-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>_ga</td>
                    <td>Determines the number of unique visitors to the site</td>
                    <td>2 years</td>
                </tr>
                <tr>
                    <td>_gat</td>
                    <td>Used to manage the rate at which page view requests are made</td>
                    <td>10 minutes</td>
                </tr>
            </tbody>
        </table>
        <p>You can <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">opt out of Google Analytics cookies</a>.</p>

        <h3>Session</h3>
        <p>
            The Citizenship Appointment Booking service does not store your personal information. The details you enter are encrypted and temporarily stored on your computer until your booking is complete.
        </p>
        <table class="cookie-info-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>session</td>
                    <td>Stores your Client ID and the office you will be attending for your appointment</td>
                    <td>30 minutes</td>
                </tr>
                <tr>
                    <td>_csrf</td>
                    <td>Keeps you safe by preventing <a href="https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)" target="_blank">Cross-Site Request Forgery</a></td>
                    <td>30 minutes</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
<script src='/analytics_basic.js'></script>
{{> postmain }}
