{{> html_base_premain_pretitle }}
	<title>Citizenship Appointment Booking - Error Page</title>
{{> html_base_premain_posttitle}}

<div class="container">
  <h1>Error</h1>

  <p>An error occurred. Please try again in a few minutes.</p>

  <a href="/login" title="Go to the login page" class="button login-again">Log in again</a>
</div>
<script src="/static/cookies.js" charset="utf-8"></script>
{{> html_base_postmain }}
