<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Citizenship Appointment Booking</title>

  <link rel="icon" type="image/png" href="images/coat-of-arms-black-on-white-32x32.png" sizes="32x32">
  <link rel="stylesheet" type="text/css" href="static/bundle.css">
  {{> analytics }}
</head>
<body>
<div class="MainContainer">

  {{> header }}
  	<main>
  		<div style="margin: 2rem">
  			There was an error. <a href="/login">Go back to the login page.</a>
  		</div>
  	</main>
  {{> footer }}
</div>
</body>
</html>
