{{> html_base_premain_pretitle }}
	<title>Citizenship Appointment Booking - Error Page</title>
{{> html_base_premain_posttitle}}

<div class="container">
  <div class="row">
    <div class="nine columns">
    <h1>Error</h1>
  		<div class="error-message">
  			There was an error. <a href="/login">Go back to the login page.</a>
  		</div>
    </div>
  </div>
</div>
<script src="/static/error.js" charset="utf-8"></script>
{{> html_base_postmain }}
