<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Citizenship Appointment Booking</title>

    <link rel="icon" type="image/png" href="images/coat-of-arms-black-on-white-32x32.png" sizes="32x32">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/bundle.css">
</head>
<body>

<!--[if lt IE 9]>
<div class="warning-banner warning-ie">
    <a href="http://windows.microsoft.com/en-au/internet-explorer/download-ie" target="_blank" class="warning-link">
        <span class="warning-header">Your browser is out of date!</span>
        <span class="warning-message">You're using an unsupported version of Internet Explorer. For improved security and to use this site, please <span class="warning-action-text">upgrade your browser</span>.</span>
    </a>
</div>
<![endif]-->

<noscript>
    <div class="warning-banner warning-javascript">
        <a href="javascript:window.location.reload();" class="warning-link">
            <span class="warning-header">JavaScript is disabled!</span>
            <span class="warning-message">JavaScript is required to use this site. Please enable JavaScript and <span class="warning-action-text">reload this page</span>.</span>
        </a>
    </div>
</noscript>

<div class="warning-banner warning-cookies" style="display: none;">
    <a href="javascript:window.location.reload();" class="warning-link">
        <span class="warning-header">Cookies are disabled!</span>
        <span class="warning-message">Cookies are required to use this site. Please enable cookies and <span class="warning-action-text">reload this page</span>.</span>
    </a>
</div>

{{> header }}

<main>
    <div class="container">
        <div class="steps-info">Step 1 of 3</div>
        <h1 class="landing-title">Book your citizenship appointment</h1>

        {{#error}}
        <div class="error-div">
            Incorrect Client ID and/or Family Name provided.
            Please check your details and try again.
            If the issue persists, please call the Citizenship line.
        </div>
        {{/error}}

        {{#expired}}
        <div class="error-div">
            Your session has expired. Please log in.
        </div>
        {{/expired}}

        <form class="LoginForm" action="login" method="post">
            <input name="{{ _csrf.parameterName }}" type="hidden" value="{{ _csrf.token }}"/>
            <div class="LoginForm-input">
                <label for="clientId">Client ID</label>
                <input class="LoginForm-input--field" id="clientId" type="text" name="username" {{#clientId}}value="{{clientId}}"{{/clientId}}/>
            </div>
            <div class="LoginForm-input">
                <label for="familyName">Family Name</label>
                <input class="LoginForm-input--field" id="familyName" type="text" name="familyName"/>
            </div>
            <div class="LoginForm-input">
                <input type="submit" class="button fa" value="Next &nbsp; &#xf105;" id="submitLogin"/>
            </div>
        </form>

        <div class="row">
            <div class="eleven columns">
                <div class="ClientIdHelp">
                    <a href="#" class="ClientIdHelp-link">How to find Client ID</a>
                    <img src="images/client_id_help.png" class="ClientIdHelp-image" alt="Find the ID in your letter"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="eleven columns">
                <div class="survey">
                    <a href="https://docs.google.com/forms/d/1xk5TkrAenId31idSw46TFd7U0pK3blEEV3jz2HJ98uk/viewform" alt="" target="_blank">What do you think of this service?</a>
                    (takes 30 seconds)
                </div>
            </div>
        </div>
    </div>
</main>

{{> footer }}

<script src="static/login.js" charset="utf-8"></script>

</body>
</html>
