<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Citizenship Appointment Booking</title>

  <link rel="icon" type="image/png" href="images/coat-of-arms-black-on-white-32x32.png" sizes="32x32">
  <link rel="stylesheet" type="text/css" href="static/bundle.css">
</head>
<body>

  <!--[if lt IE 9]>
  <div>
    <a href="http://windows.microsoft.com/en-au/internet-explorer/download-ie" style="text-decoration: none;" target="_blank">
      <span style="background-color: #222C35; color: white; display: table-cell; padding: 10px 16px 10px 16px;">Your browser is out of date!</span>
      <span style="display: table-cell; padding: 10px 10px; color: #222C35;">You're using an unsupported version of Internet Explorer. For improved security and to use this site, please <span style="text-decoration: underline;">upgrade your browser</span>.</span>
    </a>
  </div>
  <![endif]-->

  <noscript>
    <div>
      <a href="javascript:window.location.reload();" style="text-decoration: none;">
        <span style="background-color: #222C35; color: white; display: table-cell; padding: 10px 16px 10px 16px;">JavaScript is disabled!</span>
        <span style="display: table-cell; padding: 10px 10px; color: #222C35;">JavaScript is required to use this site. Please enable JavaScript and <span style="text-decoration: underline;">reload this page</span>.</span>
      </a>
    </div>
  </noscript>

  <div style="display: none;">
    <a href="javascript:window.location.reload();" style="text-decoration: none;">
      <span style="background-color: #222C35; color: white; display: table-cell; padding: 10px 16px 10px 16px;">Cookies are disabled!</span>
      <span style="display: table-cell; padding: 10px 10px; color: #222C35;">Cookies are required to use this site. Please enable cookies and <span style="text-decoration: underline;">reload this page</span>.</span>
    </a>
  </div>

  {{> header }}

  <main>
    <div class="container">
      <div class="steps-info">Step 1 of 3</div>
      <h1 class="landing-title">Book your citizenship appointment</h1>

      {{#error}}
        <div class="error-div">
          Incorrect Client ID and/or Family Name provided.
          Please check your details and try again.
          If the issue persists, please call the Citizenship line.
        </div>
      {{/error}}

      {{#expired}}
        <div class="error-div">
            Your session has expired. Please log in.
        </div>
      {{/expired}}

      <form action="/login" method="post">
        <input name="{{ _csrf.parameterName }}" type="hidden" value="{{ _csrf.token }}" />
        <label for="clientId">Client ID</label>
        <input id="clientId" type="text" name="username"
        {{#clientId}}value="{{clientId}}"{{/clientId}}></input>

        <label for="familyName">Family Name</label>
        <input id="familyName" type="text" name="familyName"></input>

        <input type="submit" value="Next" id="submitLogin"></input>

      </form>
    </div>
  </main>

  {{> footer }}

  <script src="static/login.js" charset="utf-8"></script>

</body>
</html>
