<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Citizenship Appointment Booking - Session Timeout</title>
    <link rel="icon" type="image/png" href="/images/coat-of-arms-black-on-white-32x32.png" sizes="32x32">
    <link rel="stylesheet" type="text/css" href="/static/bundle.css">
    {{> analytics }}
</head>
<body>

<div class="MainContainer">

{{> header }}

<main>
    <div class="container">
        <iframe src="/logout" height="0" width="0" style="visibility:hidden;display:none"></iframe>
    	<div class="steps-info"></div>
        <h1>Your appointment has not been scheduled</h1>

        <p>All the details you have entered have been cleared to keep your information safe.<br/>
        This happens when a page has been left open for over 30 minutes.</p>	

        <a href="/login" title="Go to the login page" class="button" style="padding-top: 0.5rem;">Log in again</a>

    </div>
</main>

    {{> footer }}

</div>

</body>
</html>
