{{> html_base_premain_pretitle }}
	<title>Citizenship Appointment Booking - Add to Apple Wallet</title>
{{> html_base_premain_posttitle}}

{{> add_to_wallet_instructions }}

<script src='/analytics_basic.js'></script>
{{> html_base_postmain }}
