{{> html_base_premain_pretitle }}
	<title>Citizenship Appointment Booking - Add to Apple Wallet</title>
{{> html_base_premain_posttitle}}

<div class="container wallet-container">
  <h1>Add to Apple Wallet</h1>

  <p>If you have an iPhone, you can add a pass to your Apple Wallet. The pass can speed up the process of checking in when you arrive for your appointment.</p>

  <p>To add the pass, open the Wallet app on your iPhone, click on the plus button at the top of the "Passes" section, then tap on "Scan Code to Add a Pass". Position the barcode below in the frame on your iPhone screen to scan the barcode and add the pass to your Wallet.</p>

  <p><img src="/wallet/pass/barcode.png?id={{clientId}}&otherid={{customerId}}" alt="Scan this barcode using the Wallet app on your iPhone to add a pass for your appointment to Wallet. This will allow for easy and fast check-in when you arrive for your appointment."></p>
</div>

<script src='/analytics_basic.js'></script>
{{> html_base_postmain }}
