@media print {

	body {
		font: 12pt;

		* {
			margin: 0;
			padding: 0;
		}
	}

	h1 {
		font-size: 24pt;
	}

	.au-gov-logo {
		.au-gov-coat-of-arms {
			content: url('../images/gov-au-coat-of-arms.png');
		}
		span {
			@include au-gov-text($black);
		}
	}

	.beta-badge {
		color: $black;
	}

	footer,
	.warning-oldbrowser,
	.warning-cookies,
	.feedback-survey,
	.steps-info,
	.logout-link,
	.confirmation-message,
	.button,
	.apple-wallet-frame,
	.dropdown,
	.inline-icon,
	.icon {
		display: none !important;
	}

	a:link:after, a:visited:after {
		content:" (" attr(href) ") ";
		text-decoration: underline;
		color: blue;
	}

	a.print-not-expand:link:after, a:visited:after {
		content:"";
	}

	a {
		text-decoration: none;
		color: black;
	}

	.appointment-detail {
    @include span-columns(12);
  }
}
